[2019-10-17 07:33] dvsekhvalnov commented on #111
@magaras yeah, make sense, thanks for catching it, i'll add tests.

[2019-10-22 07:21] dvsekhvalnov commented on #111
@magaras pushed fix for 'crit' headers, if you'd like to give it another round ;)

[2019-10-25 19:16] magaras commented on #111
Hi @dvsekhvalnov, I'give it a try next week and let you know. Wish you a pleasant weekend.

[2019-10-26 16:57] osharper commented on #10
so, what's the current status of JWK support? It seems like pull request was never created. Why and what has to be done in order to add JWK features in package? Can try to help.

[2019-10-28 14:46] dvsekhvalnov commented on #10
Hi @osharper , well i guess no work have happened on adding JWK support. If you interested i can take time and revisit what i've said above since it was quite some time ago :)

Do you have specific use-case you'd like to support with library?

[2019-11-01 20:05] dvsekhvalnov commented on #111
Okay, pretty much ready to release it on Monday. Anybody final call or comments or whatever?

[2019-11-02 18:27] magaras commented on #111
Hi @dvsekhvalnov , I tested the implementation for the "crit" headers. It seems fine. Thanks,

[2019-11-04 14:18] dvsekhvalnov commented on #111
@magaras thanks for testing !

Okay, all released, please find v2.5.0 on nuget.

[2019-11-04 14:18] #111 closed

[2019-11-06 06:47] #93 closed

[2019-11-06 06:48] dvsekhvalnov commented on #93
closing, as it seems all question have been resolved. Feel free to re-open as needed.

[2019-11-28 15:35] fdres opened #121 "b64 InvalidCastException"
Hi.
Inside private static byte[] DecodeBytes(...) in JWT.cs there is this piece of code:
`object value;
if (headerData.TryGetValue("b64", out value))
{
     b64 = (bool) value;
}`

If value is "false" or "true" this will throw an InvalidCastException.
Would you consider the change to
`b64 = Convert.ToBoolean(value);`

[2019-11-29 10:33] dvsekhvalnov commented on #121
Sure can absolutely do it.

Are you facing this issue in real world? Mind unit test or sample data?

I also happy to accept PR :)

[2019-11-29 10:45] fdres commented on #121
Thanks for your response.
I'm using the nuget in an ASP.NET Core API for decoding.
I use postman as a client with javascript pre-request script to sign the request body

Client Code Sample
`var oHeader = {
	"alg": "PS256",
	"typ": "JOSE",
	"cty": "application/json",
	"b64": "true"
};
var sHeader = JSON.stringify(oHeader);
var token = KJUR.jws.JWS.sign("PS256", sHeader, sPayload, privateKey);`

[2019-11-30 20:30] dvsekhvalnov commented on #121
@fdres thanks for example.

May i ask why you putting string value for b64 header instead of boolean?

RFC7797 pretty clear defines (https://tools.ietf.org/html/rfc7797#section-3):
[code]

Obviously i don't mind to add fix to support string values as well if it helps in real world. Just trying to understand what is real use case for it?

[2019-12-02 08:34] fdres commented on #121
I started using the nuget in version 2.4.0. When I sent the b64 header as boolean I got an IntegrityException with the message "Invalid Signature". When I changed the value to a string it validated the payload.
I don't know if the problem with the boolean value is with the js framework I'm using to sign the request ( I am not a javascript developer and I was searching for something to use with pos

[2019-12-02 18:21] dvsekhvalnov commented on #121
I see. Are you using https://kjur.github.io/jsrsasign/ ?

Probably i need to craft some example.

[2019-12-03 07:54] fdres commented on #121
_"Are you using https://kjur.github.io/jsrsasign/ ?"_
Yes

[2019-12-03 13:32] dvsekhvalnov commented on #121
@fdres i'm not super sure but i can't find that `jsrsasign` support unencoded payload.
It seems to match what you are observing:
 - when you provide boolean `b64` value, jsrsasign not handling it and still applies base64 encoding for payload. On verification part if it obviously fails as jose-jwt expect unencoded payload

Pretty simple to verify, just generate 2 tokens via jsrsasign: one with b64=

[2019-12-05 09:22] fdres commented on #121
@dvsekhvalnov
That's true. `jsrasign` does not support unencoded payload (yet?).
My original issue was that I sent a b64 header with value "true" and it couldn't be parsed. That caused my api to throw a 500 http status code.
The problem I was having with jose-jwt and lead me to send string value instead of boolean does not seem to occur any more (probably I was misusing the library).
Anyway. I thi

[2019-12-10 17:30] dvsekhvalnov commented on #121
Yeah, for sure i agree we should improve error handling, InvalidCastException is terrible )

I'm slightly disagree with accepting "string" values for b64 header as it against spec and no real use case.

Will publish fix in next minor version.

[2020-01-16 16:57] hcornelison opened #122 "FileVersion should be bumped to 2.5.0"
In jose-jwt/Properties/AssemblyInfo.cs, the file version properties should be bumped to 2.5.0 to match the 2.5.0 release of this library, correct?

[2020-01-22 19:02] slorello89 commented on #122
I'm not positive but I'm getting missing method exceptions when I try to use the 2.5.0 library - I'm fairly certain this is because the wrong assembly is being targeted. Perhaps a config parameter in the interim.

[2020-01-22 19:10] slorello89 commented on #122
submitted a pr #123 that should fix it - if the nuget package can't be amended it may be worth revving to 2.5.1 instead

[2020-01-22 20:11] dvsekhvalnov commented on #122
thanks for mr !

yeah, i guess it needs new release.

[2020-02-18 10:12] a-sinha commented on #45
Hi @dvsekhvalnov, It seems this is fixed in .Net core 3.1, any plans for fixing this one?

[2020-02-19 07:28] dvsekhvalnov commented on #45
Hey @a-sinha , thanks for heads up, missed when it was released.
Yep, will take a look what it takes to switch to new managed crypto implementations.

[2020-02-26 08:29] dhcgn opened #124 "IterationCount for PBKDF2 is hardcoded"
It would be practical if the PBKDF2 iteration count would be overrideable.

https://github.com/dvsekhvalnov/jose-jwt/blob/e54de3bb706edf294053b4b86f0db47333d433ef/jose-jwt/jwa/Pbse2HmacShaKeyManagementWithAesKeyWrap.cs#L27

More Information: [JSON Web Algorithms (JWA)](https://tools.ietf.org/html/rfc7518#section-4.8.1.2)

[2020-03-21 11:55] crclz opened #125 "[Suggestion] Potential safety risk"
While deserializing a token, if a field is not provided in token (due to payload schema change), the field will remain default value (Newtonsoft.Json's behavior). This is quite dangerous, which could give attacker chances.

Suppose I have my jwt payload class Payload.
[code]

Later I change my Payload class to
[code]

Now, if the library deserialize a token issued before I changed Payload class, t

[2020-03-31 16:46] dvsekhvalnov commented on #125
Hi @crclz , not bad idea, wanna submit PR?

[2020-03-31 16:48] dvsekhvalnov commented on #124
Hi @dhcgn , thanks for ticket, yeah that's sound like reasonable enhancement to me.

Sorry i haven't noticed you ticket earlier, some how not getting proper notification from github anymore.

Do you want to submit PR or just open ticket? )

[2020-04-07 20:06] MartyBJones opened #126 "Question: How to generate a JWT token that is signed and encrypted"
How do I generate a JWT token that is signed with my private key and then encrypted with a public key from an outside source?

I am able to create a token that is signed with no issues and I can create a token that is encrypted with no issues but not sure how to sign and encrypt a given token.

[2020-04-08 08:16] dvsekhvalnov commented on #126
Hi @MartyBJones ,

can you elaborate little bit on your use-case? I can hardly imagine why you'd like to do both on same payload, though this question time to time pops up here.

- Signing - ensures that your payload was not tampered (modified)
- Encryption - ensures nobody can read payload except intended audience. It clear includes all properties from signing too (e.g. you will not be able to de

[2020-04-08 11:53] MartyBJones commented on #126
I have the case where I am sending a JWT token to a third party.  We are
signing the token to make sure that it not tampered with but we also want
to encrypt the content so that it can't be viewed.

On Wed, Apr 8, 2020 at 3:17 AM dvsekhvalnov <notifications@github.com>
wrote:

[2020-04-09 16:42] dvsekhvalnov commented on #126
But encryption gives same anti-tampering protection :)

Is sample code answers your question?

[2020-04-10 00:12] MartyBJones commented on #126
This is a third party service I am interfacing with so it is not my rules
for how they implement.  This does answer my question though.

On Thu, Apr 9, 2020 at 11:42 AM dvsekhvalnov <notifications@github.com>
wrote:

[2020-04-13 09:16] #126 closed

[2020-04-13 09:17] dvsekhvalnov commented on #126
Glad it working, closing for now.

[2020-04-16 17:00] #125 closed

[2020-04-16 17:00] dvsekhvalnov commented on #125
Thanks for MR.

[2020-04-17 06:57] cpb089 opened #128 "Encode Decode with JWK"
Hi,

Currently in order to encode and decode from JWK, I am converting the JWK to RSA(took it from             https://github.com/dvsekhvalnov/jose-jwt/issues/92#issuecomment-387982902) and then use the RSA key. This seems to be working in .net core 2, but converting JWK to RSA in .net core 3 prompts an error during runtime. Can you please suggest if there is an alternative to encode decode with a

[2020-04-17 07:03] dvsekhvalnov commented on #128
Hi @cpb089 ,
it looks like either `e` or `n` are null or empty? Can you trace what those params actually are at runtime?

[2020-04-17 07:11] cpb089 commented on #128
hi @dvsekhvalnov ,

If i switch back my code to run in .net core 2 it works as it should. The problem is when switching my solution to .net core 3.

![image](https://user-images.githubusercontent.com/8961621/79542100-5601f600-808b-11ea-8d76-a5c05a369796.png)

[2020-04-17 10:36] dvsekhvalnov commented on #128
Honestly i've never tried that conversion snippet with .net core 3 So it's hard for me to comment what may be broken.

I can give it a shot but it will take a while to set things up.

[2020-04-23 17:57] KamranShahid opened #129 "How to validate signature from jwks"
I am following following article to
https://kimmoraito.blogspot.com/2017/07/auth0-jwt-public-key-signature.html
but it uses x5c which .well-known/jwks.json of my client doesn't provide
My client's well jwks looks like

I have a JWKS url content like
[code]
How can i validate my jwt data with above format jwks
My current code looks like following

[code]

[2020-04-24 07:57] KamranShahid commented on #129
Following did worked.
One suggestion is to have a fresh release with use .net standard 2.0 and System.Text.json

[code]

[2020-04-24 07:57] #129 closed

[2020-04-24 08:00] KamranShahid opened #130 "Any new release Plan for .net standard 2.0 or plus. (.net core 3.1 without newtonsoft)"
Any new release Plan for .net standard 2.0 or plus. (.net core 3.1 without newtonsoft)?

[2020-04-24 14:27] dvsekhvalnov commented on #130
Hi @KamranShahid ,
kind of planning to take a look this year, but no strict ETA at this point.

What an issues with newtonsoft?

[2020-04-24 18:38] KamranShahid commented on #130
not much of any issue in newtosnsoft. from .net core 3.1 i am just using builtin system.text.json for all the work.

[2020-04-27 11:38] dvsekhvalnov commented on #130
Ah, okay i see,  there were no native json support in .net core 2 so that's why it coming with newtonsoft json by default.

Yeah perfectly make sense to me to drop another dependency.

[2020-04-27 18:23] Wadeed123 opened #131 "Confused due to the exception"
So i am implementing tokenization for a client, my rest api is being consumed by the client and and they are sending a token in their request for some reason my api is unable to decode that token we used a shared certificate for encryption and decryption. My api is in C# using jose-jwt while client might be having a java application. The exception i am getting is mentioned below:
JWT header: {"alg

[2020-04-28 09:22] dvsekhvalnov commented on #131
Hi @Wadeed123 ,

library can't decrypt your token. May be invalid format/padding or whatever else.

To troubleshoot feel free to post sample token and decryption key. Please make sure this is not **production** key before sharing.

Also if you can share java side code that producing token can be helpful as well (at least what library you are using to produce token).

[2020-04-28 09:27] Wadeed123 commented on #131
Thank you for the response @dvsekhvalnov,
Yup i cannot share the key or even token as it consist of personal data.
The Java library they are using : [import com.nimbusds.jose.*;].

[2020-04-28 11:43] dvsekhvalnov commented on #131
Probably you can generate test keys and provide sample token with it without PII data?

We do cross-compatibility tests with https://connect2id.com/products/nimbus-jose-jwt  so it all should work with your case.

It's really hard to diagnose without any samples. As an idea may something happening during token transmission and it gets corrupted or re-encoded (base64, e.t.c.) ?

[2020-04-28 12:17] Wadeed123 commented on #131
Let me see what is possibly.
for and idea if it is getting re-encoded so before decryption i have to apply base 64 decoding and pass the resultant the string as to the decode function.
Will try this and update the thread.

Any idea of ChilKat.JWE is it different from JOSE-JWT ?

[2020-04-28 13:36] Local9 opened #132 "MissingMethodException Jose.JWT.Decode"
Framework: .NET 4.0
Package: jose-jwt.2.5.0

Rather new issue, only started recently and wasn't an issue previously, I've gone over all my previous changes to my code and I'm constantly being returned `System.MissingMethodException: Method not found: 'System.String Jose.JWT.Decode`

The line its reporting on is;
`string jwtToken = Jose.JWT.Decode(token, secretKey, JwsAlgorithm.HS256);`

I've check

[2020-04-28 14:45] dvsekhvalnov commented on #132
Hey @Local9 ,

that's normally indicates you have issues with library installation: missing dll, broken dll, version mismatch, e.t.c.

 Just try to remove and re-install clean from nuget.

[2020-04-28 14:45] dvsekhvalnov commented on #131
Can't comment on ChilKat, have never tried it.

[2020-05-01 20:02] KamranShahid commented on #10
I have use following https://stackoverflow.com/questions/61418205/manually-create-jwk-from-rsa-publickey-in-net-core-3-1
@dvsekhvalnov  In my application your library is also used at some place.
If you can do any improvement in above post then it would be great.
Thanks

[2020-05-02 18:06] KamranShahid commented on #131
I think it is paid library.

[2020-05-14 20:17] Wadeed123 commented on #131
Closing issue, apparently the client ended up sharing the wrong Key pair that was causing the problem.  Exception was a bit vague but nonetheless it was issue at our end.

Thank you for bearing with me.
Kudos to @dvsekhvalnov.

[2020-05-14 20:17] #131 closed

[2020-06-22 09:08] dvsekhvalnov commented on #132
Closing due to inactivity

[2020-06-22 09:08] #132 closed

[2020-06-25 13:43] ShaikhArmaan commented on #45
Hi @dvsekhvalnov , I am facing the same issue. I am using Jose.JWT.Encode method with JweAlgorithm.RSA_OAEP_256 and JweEncryption.A256GCM. I am able to encode on local windows machine and on a windows IIS server but when I am hosting the same on linux server, I am getting an exception saying bcrypt.dll was not found. I'm posting the stack trace below. My version of .Net Core is 2.2. Pls Help!!!

"

[2020-06-25 16:03] fabriziodb opened #134 "How to validate and decode a Jwt token from microsoft identity server 4?"
Please, can anyone help me to understand how to validate and decode a jwt access token release from m$ IS4?

this is a token from the server, thanks.

eyJhbGciOiJSUzI1NiIsImtpZCI6InVVaENEMWZtLUp4OGdIeDRZX2djM1EiLCJ0eXAiOiJhdCtqd3QifQ.eyJuYmYiOjE1OTMwODk3OTMsImV4cCI6MTU5MzA5MzM5MywiaXNzIjoiaHR0cDovL2lkZW50aXR5c2VydmVyLmRldi4yNG9yZXByby5pbi5pbHNvbGUyNG9yZS5pdCIsImF1ZCI6InN3Z19lbnRpdGxlbWVudHMiLCJjbG

[2020-06-26 13:30] dvsekhvalnov commented on #134
Hi @fabriziodb ,

this is RS256 signed token, you can decode / verify signature via: https://github.com/dvsekhvalnov/jose-jwt#verifying-and-decoding-tokens

[code]

Then apply whatever checks you need, like token not expired, intended audience, e.t.c.

[2020-06-26 13:36] fabriziodb commented on #134
hi, is this the right way to pass the privato key? get always the same error. thanks.

 string token = "eyJhbGciOiJSUzI1NiIsImtpZCI6InVVaENEMWZtLUp4OGdIeDRZX2djM1EiLCJ0eXAiOiJhdCtqd3QifQ.eyJuYmYiOjE1OTMwODk3OTMsImV4cCI6MTU5MzA5MzM5MywiaXNzIjoiaHR0cDovL2lkZW50aXR5c2VydmVyLmRldi4yNG9yZXByby5pbi5pbHNvbGUyNG9yZS5pdCIsImF1ZCI6InN3Z19lbnRpdGxlbWVudHMiLCJjbGllbnRfaWQiOiJtdmMiLCJzdWIiOiJmZGIxIiwiYXV0aF90a

[2020-06-26 14:13] dvsekhvalnov commented on #134
No. For RS256 you normally read your private key from .p12 file or windows truststore, like
[code]

https://github.com/dvsekhvalnov/jose-jwt#verifying-and-decoding-tokens - covers all cases

[2020-06-26 14:33] fabriziodb commented on #134
thanks, i've to create a file named key.p12 containing the secret inside?

________________________________
Da: DV <notifications@github.com>
Inviato: venerdì 26 giugno 2020 16:13
A: dvsekhvalnov/jose-jwt <jose-jwt@noreply.github.com>
Cc: fabriziodb <fabriziodb@live.it>; Mention <mention@noreply.github.com>
Oggetto: Re: [dvsekhvalnov/jose-jwt] How to validate and decode a Jwt token from microsoft

[2020-06-26 16:01] dvsekhvalnov commented on #134
no, you actually should have private key, because you registered public part of it microsoft identity server.

[2020-07-10 17:34] gjermystreeva commented on #45
Hi @dvsekhvalnov - I took a look and the support in net standard 2.1 / net core 3.1 seems to be an easy replacement.
Would you like a PR in for this?
https://github.com/streeva/jose-jwt/tree/netstandard21   is now working for our needs regarding A256GCM on Linux hosts.

[2020-07-13 10:54] dvsekhvalnov commented on #45
Hi @gjermystreeva , sure PR's always welcome )

[2020-08-21 12:18] OwlScowl opened #136 "Creating JWS with empty "" payloads"
Hello,

I'm confronted to an API that uses JWS on their GET requests meaning no body.

There is a check in the JWT.Encode method preventing this behavior. Could the check for an empty payload be removed ?

It seems to be a rather recent developement  (~1 year) that can be seen in this rfc https://tools.ietf.org/id/draft-ietf-acme-acme-16.html#rfc.section.6.3.

I'm currently using .NET standard 4.6

[2020-08-24 12:24] pashmak73 opened #137 "Encrypt AesGCM problem"
Hi,
I'm new in encryption.

I've been trying to encrypt a password via an public key.

It should be like this:
[code]

I've tried this code but it's gives me an error:
[code]
Test info:
[code]
Error I'm getting it:
![image](https://user-images.githubusercontent.com/46992431/91043887-a258d600-e629-11ea-842c-59599da0ec69.png)

More information:
I've found these codes which is working well in their p

[2020-08-25 10:40] dvsekhvalnov commented on #136
Hi @OwlScowl ,

are you asking for detached payload (it is supported https://github.com/dvsekhvalnov/jose-jwt/#unencoded-and-detached-content-aka-rfc-7797) or how would you expect it work?

In a sense if you don't provide body, what you expect signature to be based off? Just headers?

[2020-08-25 10:46] dvsekhvalnov commented on #137
Hi @pashmak73 ,

confused, where are you creating JWT tokens in your code sample?

BCrypt errors from your screenshot: 0xC000000D = STATUS_INVALID_PARAMETER

[2020-08-25 12:39] OwlScowl commented on #136
Hello @dvsekhvalnov,

Yes the signature is based solely on the headers.

I'm integrating a API that uses JWS signature with detached payload. This works flawlessly with POST since there are bodies, but it has a few GET/DELETE requests with blank payloads.

With curl, these requests would look like this:

curl -X DELETE
  https://myapi.com
  -H 'Signature: xxxxxxxx..xxxxxxxxxxxx'

Thanks for taking

[2020-08-25 14:51] dvsekhvalnov commented on #136
Hm.. ok, let me check how others jwt implementations addressing it (empty payload) that i'm usually cross-test against.  Seems important to be compatible here.

[2020-08-25 15:34] OwlScowl commented on #136
I've looked at it before creating this issue, to be sure I wasn't the only one with this demand. This library creates an extra parameter allowing, or not, blank payloads. It is false by default.

https://github.com/nov/json-jwt/issues/69

[2020-08-25 17:27] dvsekhvalnov commented on #136
ok, interesting. Let me dig others too :) Will get back to you.

[2020-08-26 17:28] NGame1 commented on #137
Bro as we mentioned, we are new into cryptography and it is the first time we are using this lib
I saw this in your readme
[code]
But I don't know where can I find the byte[] of the secret key
as @pashmak73 mentioned we have the following public key
[code]
That is a base64 encoded text witch this following text is the decoded one
[code]
And here I found some helpful things about this enc_password

[2020-08-26 17:35] dvsekhvalnov commented on #136
@OwlScowl , checked other libs - looks like all supporting it as valid use case. So don't see reasons why not to update jose-jwt too. Will make a fix.

[2020-08-27 17:19] dvsekhvalnov commented on #137
Hi @NGame1 ,

honestly i'm not really follow.  The library implementing https://tools.ietf.org/html/rfc7518 JWT/JWA/JWS/JWE. But it doesn't seem you trying to generate jwt tokens or need jwt tokens for your question at all.

And unfortunately i have no idea about instagram private api to answer any question about it confidently.

[2020-08-28 13:27] NGame1 commented on #137
anyhow thanks.
As the last question, I find out we need something called evp_aes256_gcm
do you know anything about it or how to generate such encryption in C#?
Feel free to close this issue after that.
Thanks for answering
regards

[2020-08-28 14:45] dvsekhvalnov commented on #137
Hi @NGame1 you probably asking about: https://wiki.openssl.org/index.php/EVP ? EVP is name of some OpenSSL SDK.

If you looking into how to perform AES GCM encryption with C#, take a look here for instance: https://dev.to/maymeow/aes-gcm-encryption-with-c-23oi

[2020-08-28 14:45] #137 closed

[2020-09-05 17:12] ahvahsky2008 opened #138 "Invalid signature"
I try convert this code to jose-jwt [github gist](https://github.com/bitzlato/api-auth-examples/blob/625f16a3682d775e65466e0cd0d4f1b94787fe43/csharp/TokenDemo/Program.cs)

**jwt.io** says that my token is invalid. Why so?

[code]

[2020-09-08 13:58] OwlScowl commented on #138
It's working for me. I can't upload a screenshot however0

You have to check the JWT against a public key (in this case a public key is just a private key with fewer informations)
To get the public key, just remove the d element and you'll get signature verified as well, but you can use the private key as well.

If you read what's written in the private key verification text box:
`Private Key. Ent

[2020-09-08 22:30] ahvahsky2008 commented on #138
globally - i want repeat token generation and it with params to rest api.
server receive **JWT** generated token correctly. But generated with jose-jwt  - it says `{"error":"Unauthorized","message":"An error occurred while attempting to decode the Jwt: Malformed payload"}`

[2020-09-09 08:49] OwlScowl commented on #138
I'm guessing you are using this example https://github.com/bitzlato/api-auth-examples/blob/develop/csharp/TokenDemo/Program.cs

If you are, you are missing all these informations in the payload:
[code]

Create a Dictionnary<string, object>() with all these informations and encode the jwt like this

`var newJws = JWT.Encode(payload, privkey, JwsAlgorithm.ES256, headers);
`
I couldn't find an englis

[2020-09-09 16:07] alex-jitbit opened #139 "Validate without decoding"
Currently I have to use `try-catch` to know if the token signature is valid or not. That's not very good design (basing logic on exceptions is bad practice).

Is there a way to simply validate a token?

[2020-09-09 18:07] dvsekhvalnov commented on #139
Hi @alex-jitbit ,

what do you mean by validating without decoding?

For signed tokens - you not decoding anything, nothing prevents you to grab payload that is plain text.
For encrypted tokens - well, it doesn't make any sense without decoding.

[2020-09-09 18:57] dvsekhvalnov commented on #138
Hi @ahvahsky2008 ,

i don't have any issue with your code, it producing perfectly valid signature, doubled checked with couple others jws implementations.

[2020-09-09 20:07] alex-jitbit commented on #139
I meant, validate the signature only, and that's it. How do I tell if the token is valid?

[2020-09-10 08:15] dvsekhvalnov commented on #139
[code]

will essentially do signature verification on signed tokens and return you payload :) one liner :)

After that your mileage may vary based on type of payload. For instance if you dealing with JWT tokens you normally will parse payload and apply additional validation logic on claims (check valid time range, audience, issuer, whatever else).

To answer original question about changing signat

[2020-09-15 21:39] ardove opened #140 "ECDsa does not work as key for JWT.Encode"
Using some code which looks like the following, you end up with an exception which mandates that the key must be of type CngKey. The documentation clearly states that the key may be of type CngKey OR ECDsa. Sending an instance of an ECDsa hydrated using the following code does NOT work.

Am I missing something or is the documentation incorrect?

[code]

[2020-09-15 21:50] ardove commented on #140
Ok, I answered my own question, I think. The key needs to be imported used ECDsa but converted to a CngKey before it can be used for encoding data.

[code]

This actually throws an exception, but i'm okay with the behavior because you wouldn't normally use this for encryption since it's really a signature algorithm. Carry on.

[2020-09-15 21:50] #140 closed

[2020-09-16 09:04] dvsekhvalnov commented on #140
Hi @ardove

ECDH + AES KeyWrap only supports `CngKey` type of key.
https://github.com/dvsekhvalnov/jose-jwt#ecdh-es-and-ecdh-es-with-aes-key-wrap-key-management-family-of-algorithms

You probably mixed it up with ES256 signing that supports both types of keys if you running on .net4.6+ or .netstandard 1.4

[2020-09-28 16:51] OwlScowl commented on #136
For other people having the same issues, you can create an empty payload in bytes

[code]

[2020-09-28 17:58] ardove commented on #140
Yeah, that's exactly what I did. Thanks!

[2020-09-29 14:33] baharestani commented on #62
.Net 3.1 has in-built support for AES/GCM which works cross platform. Can we customize the algorithm so that it relies on .net rather than windows bcrypt.dll?

[2020-09-29 17:49] #139 closed

[2020-09-29 17:49] dvsekhvalnov commented on #139
closed due to inactivity, feel free to re-open.

[2020-09-29 17:50] dvsekhvalnov commented on #138
closed due to inactivity, feel free to re-open if still an issue.

[2020-09-29 17:50] #138 closed

[2020-09-29 17:51] dvsekhvalnov commented on #136
That reminds me i need to make a release 🤦

[2020-10-01 12:09] dvsekhvalnov commented on #62
Hi @baharestani , yes obviously possible, we have separate ticket somewhere to make. But hard to find free time for the project, i'm always welcome PRs and ready to discuss design / whatever.  But can't promise any ETA at the moment.

[2020-10-01 15:44] jehrenzweig commented on #29
Yep, sorry it took so long! =P

[2020-10-01 16:53] dvsekhvalnov commented on #136
Released:
https://github.com/dvsekhvalnov/jose-jwt/releases/tag/v2.6.0
https://www.nuget.org/packages/jose-jwt/2.6.0

@OwlScowl check it out and sorry for delay.

[2020-10-01 16:53] #136 closed

[2020-10-21 09:50] ronnypmuliawan commented on #45
@dvsekhvalnov is there any updates on this issue?

[2020-10-26 10:46] dvsekhvalnov commented on #45
Not much update from me folks. Sorry, crazy year, will try to find some time.

[2020-10-28 22:00] archimed7592 commented on #124
Hi @dvsekhvalnov , I'd like to submit PR. How do I do that? I can't create a branch, I can't create a PR from my local branch... is there a way to do it myself or should you configure some permissions?

Patch is in attachment if that's what it takes: [0001-Fix-hardcoded-iterationsCount-issue-124.zip](https://github.com/dvsekhvalnov/jose-jwt/files/5455030/0001-Fix-hardcoded-iterationsCount-issue-12

[2020-10-29 05:57] dvsekhvalnov commented on #124
Hi @archimed7592 , can you please make it Pull Request? So it is easier to review. Thank you.

[2020-10-29 07:15] archimed7592 commented on #124
@dvsekhvalnov , I figured it out - I had to fork your repo to create a PR.
Here it is: https://github.com/dvsekhvalnov/jose-jwt/pull/143

[2020-10-29 11:25] dvsekhvalnov commented on #124
Thanks for PR guys !

Will release it soonish.

[2020-11-02 19:10] JohnS-dev opened #144 "Sha512 Typo"
https://github.com/dvsekhvalnov/jose-jwt/blob/4925258f5053fdc6551c0033c16594ca799ac817/jose-jwt/jws/EcdsaUsingSha.cs#L66

[2020-11-03 07:02] dvsekhvalnov commented on #144
Hi @JohnS-dev, can you elaborate on it little bit? What makes you think there is typo and what kind of typo?

[2020-11-04 13:59] csrakowski opened #145 "Question: Is there a reason for using static readonly instead of const?"
Hi,
I was wondering if there is a specific reason some fields on the BCrypt class are `static readonly` instead of `const`, eg: [`BCrypt.BCRYPT_OBJECT_LENGTH`](https://github.com/dvsekhvalnov/jose-jwt/blob/master/jose-jwt/native/BCrypt.cs#L14)?

[2020-11-05 06:21] dvsekhvalnov commented on #145
Hi @csrakowski , probably no. Is it causing any issues?

[2020-11-05 07:24] csrakowski commented on #145
Hi @dvsekhvalnov,

No, no issues.
I was just browsing the code and Visual Studio came with the suggestion to consider switching it to `const`, which is a good suggestion.
Theoretically there may be a small performance improvement if the compiler inlines it, but since the actual encryption still takes most of the time, that will probably not be noticable.

I have a branch prepared with the change,

[2020-11-05 12:08] dvsekhvalnov commented on #145
Sure thing @csrakowski , PRs always welcome :)

[2020-11-05 12:28] dvsekhvalnov commented on #145
Thanks man. Will release as part of 2.6.1

[2020-11-05 12:29] csrakowski commented on #145
Cool, thank you as well :-)

[2020-11-05 21:19] JohnS-dev commented on #144
Should it be 512 instead of 521?

[2020-11-06 10:37] dvsekhvalnov commented on #144
No, according to spec:
[code]

https://tools.ietf.org/html/rfc7518

Are you experiencing any compatibility issues with other implementations?

[2020-11-06 19:06] dvsekhvalnov commented on #145
v2.6.1 released.

[2020-11-06 19:06] #145 closed

[2020-11-06 19:07] dvsekhvalnov commented on #124
v2.6.1. released.

[2020-11-06 19:07] #124 closed

[2020-11-06 19:07] dvsekhvalnov commented on #124
Thanks @archimed7592 , your fix was published.

[2020-11-09 15:24] #144 closed

[2020-11-17 13:22] peih12 commented on #75
Hi @dvsekhvalnov and @SidShetye !
Any news on supporting JWE Json serialization?
I am working on a small project where some data is encrypted (JWE, in .NET) before it is sent over to some consumers. One of consumers requires that data is encrypted using JWE Json serialization (This consumer uses a Java application to decryption).
I've not found any .NET library supporting this. Maybe I have to imp

[2020-11-17 15:50] dvsekhvalnov commented on #75
Hi @peih12 , wow seems like you up really old ticket )

Honestly was never enough movement for the ticket. At first glance doesn't seem very much different between compact and full serialization.

Do you want to push some MR? Would be happy to approve it.

[2020-11-20 20:45] msdickinson opened #148 ".Net Standard 2.1 Support"
Hi There!
When running an ASP.NET Core 3.1 Web API project from a Linux Docker container we received the following error:
System.DllNotFoundException: Unable to load shared library 'bcrypt.dll' or one of its dependencies.
When compiling the master of Jose-Jwt locally into our project it works just fine.
It seems like 2.6.1 does not support .NET Standard 2.1 is this the reason that we see this exce

[2020-11-21 12:30] dvsekhvalnov commented on #148
Hi @msdickinson ,

that's because you are using some crypto stuff that requires native library (e.g. not supported in managed .net).

See: https://github.com/dvsekhvalnov/jose-jwt/issues/45https://github.com/dvsekhvalnov/jose-jwt/issues/45

If you failing with AES GCM - than there is good news, we gonna ship update soonish that will use new AesGcm managed classes added to .netcore3, so may be can

[2020-11-23 19:17] msdickinson commented on #148
Thank you, Feel free to close this then, and I will track #45/watch for the next update.

[2020-11-24 18:41] #148 closed

[2020-11-24 18:43] dvsekhvalnov commented on #122
closing, as we approaching v3.0

[2020-11-24 18:43] #122 closed

[2020-11-30 15:12] gjermystreeva commented on #75
Hi @peih12 / @dvsekhvalnov - I may be able to help with getting the implementation and a PR together for this, as I anticipate we will have requirements for JWE encrypted to multiple recipients. However it probably won't be until new year with other commitments.

[2020-11-30 17:02] dvsekhvalnov commented on #75
@gjermystreeva  - always welcome :)

[2020-12-04 18:34] dvsekhvalnov commented on #97
We gonna rename namespace to: `Jose.keys` in upcoming 3.0 release

[2020-12-10 11:24] dvsekhvalnov commented on #97
Released.

[2020-12-10 11:24] #97 closed

[2020-12-10 11:24] dvsekhvalnov commented on #45
Released to nuget.

[2020-12-10 11:24] #45 closed

[2020-12-10 11:25] dvsekhvalnov commented on #148
Just in case it has been released.

[2020-12-10 14:50] kampilan opened #149 "AWS LoadBalancer OpenID Connect payload"
When using AWS LoadBalancer to perform OpenIdConnect a "token" is passed that is basically a JWT token without a header segment (payload and signature segments only). Is there a way to use jose-jwt validate this headerless token?

Thanks

[2020-12-10 17:34] #149 closed

[2020-12-10 17:34] kampilan commented on #149
Please ignore

[2020-12-17 18:00] gjermystreeva commented on #75
Hi there - #150 just added... hopefully fairly comprehensive support for JSON serialization. Take a look through - would be great to get feedback. (And even greater if can get jose-jwt merged / released with this support.)
I wanted to do more on the Jwk angle. Unit tests using Jwkes internally - but nothing added to the public API yet.
I would like to replace some now duplicated code in JWT.cs wit

[2020-12-17 18:05] dvsekhvalnov commented on #75
Oh, wow ! Big one, some for effort folks.

I'll try to take a look over weekend.

[2021-02-05 14:03] themedes commented on #130
Is there any plans to do this any time soon? its been nearly a year since this was raised and it would be good to move my project into latest .net

[2021-02-05 14:17] dvsekhvalnov commented on #130
Hi @themedes, v3 is supporting latest .netcore v3. We going to drop mandatory dependency of newtonsoft probaly in v3.2

v3.1 will be Jwe Json serialization support release.

Are you looking for some other feature request?

[2021-02-05 14:32] themedes commented on #130
Awesome thanks i missed that!

[2021-02-09 09:09] dvsekhvalnov commented on #75
Decided to post some progress here. I did couple initial tests on JWE-JSON against Python's https://github.com/latchset/jwcrypto library, looks good so far. Will continue.

[2021-02-10 06:32] tdtrivedi opened #151 "How to verify Detached JWS signature"
Hi,

I am trying to verify a detached JWS signature and am not successful as yet. Any pointers will be helpful.

I have a requirement where in I need to use symmetrically encrypted payload to create a token, make it a detached token and send it across to third-party. I will receive their detached tokens the same way. I need to verify these tokens based on the encrypted payload (which shall be body

[2021-02-10 12:22] dvsekhvalnov commented on #151
Hi @tdtrivedi ,

not sure i fully understood your use case. Documentation for RFC7797 supported options is here (may be you've already seen it): https://github.com/dvsekhvalnov/jose-jwt#unencoded-and-detached-content-aka-rfc-7797

if you can illustrate your question with some pseudo-code example - will be really great for understanding.

[2021-02-10 14:55] tdtrivedi commented on #151
Hi @dvsekhvalnov ,

Thanks for the revert.

Here is what I am trying to do.

Create a detached token which has encrypted content. The content will mostly be JSON (as of the use cases now). Part of the requirement for using detached token is to be able to carry out verification at the receiving end for any tampering with the payload - hence the need to rebuild the token fully at the receiving end t

[2021-02-10 17:22] dvsekhvalnov commented on #151
@tdtrivedi still not follow, when you set `DetachPayload=false` - you'll get normal 3 parts signed token, it's not detaching anything (and this is default option).

If you want to encode & detach you need to pass `DetachPayload=true` and library will produce token like:
[code]

, where 'middle' or 'content' part is stripped out.

If you want to verify such token with detached content, you have to

[2021-02-11 05:39] tdtrivedi commented on #151
Hi @dvsekhvalnov

Thanks for clarifying this for me. I have a comment and 2 followup questions.

Firstly, I should not have pasted the DetachPayload=False statement in my earlier post - that was part of my various debug attempts. It was misleading for my post - sorry about that.

Secondly, I understand that if I pass detachpayload as false - i will get 3 part token.

I tried your decode example wi

[2021-02-11 06:48] dvsekhvalnov commented on #151
@tdtrivedi :

1. no, signature is always covers **payload + headers**. The only difference when using `detached` option - payload is not included resulting token.

2. didn't really get what do you mean by double quotes. library is never modifying payload at all, it's immutable. What `EncodePayload` options means is whether to apply **base64url** encoding for payload (default `true`). If you planni

[2021-02-11 07:35] tdtrivedi commented on #151
Hi @dvsekhvalnov  ,

The double quotes issue - it was due to the fact that my helper class which actually generates the token was taking the payload as Object which somehow resulted in the payload enclosed in double quotes. Once I changed it to a String, things are working fine now. I have not had the time to decipher why its behaving like that !!

E.g.
If I pass the payload as Object - this is wh

[2021-02-11 08:07] dvsekhvalnov commented on #151
You welcome, feel free to close ticket if no more questions.

[2021-02-11 08:36] #151 closed

[2021-02-11 09:23] dvsekhvalnov commented on #75
Hi @gjermystreeva , got a question while cross-testing with jwcrypto library. It seems current implementation requires 'protected header' to be present and include 'enc' field. But reading https://tools.ietf.org/html/rfc7516#section-5.2 it seems it is not required to present (quotes below):

[code]

more over it also saying:
[code]

My question to you is, was this intentional by some reason or jus

[2021-02-11 12:33] gjermystreeva commented on #75
Hi @dvsekhvalnov. that is interesting.
It is probably an oversight on my part. I will try to take a look later.
(It's maybe surprising to me though that other implementations would allow the enc to be placed in an unprotected header.)

[2021-02-11 13:05] peih12 commented on #75
It is really good that you contributed with your implementation @gjermystreeva .
I have also a simple implementation for encryption using JWE-JSON serialization in my project. There is just one consumer of my encrypted data but the consumer does not accept encrypted data using conpact serialization. That's why I had to implement it myselv.
I have also considered to generalise my implementation to

[2021-02-12 07:59] dvsekhvalnov commented on #75
@gjermystreeva yeah i was surprised too. No worries, i'll take care of updating code to follow spec.

[2021-02-12 13:22] olivier-spinelli commented on #130
Hello,
I'm very interested in a System.Text.Json only solution (too many compatibility/version issues with the Json.net in the past). Is there a branch from which I may start and (hopefully) submit one or more PR on this subject?

And many thanks for your work!

[2021-02-15 08:00] dvsekhvalnov commented on #130
Hi @olivier-spinelli ,

feel free to open PR if interested :)

`master` currently little bit unstable as trying to prepare JWE Json serialization support for release. But Json serialization seems to be isolated enough. At worst i'll can manually port changes over.

[2021-03-12 16:01] phillipells opened #152 "Outdated Encryption Algorithm?"
Hi so we were using your library for generating tokens and we noticed an issue pop up. Our tokens were suddenly being generated with no payloads when using this encryption scheme: JweEncryption.A128CBC_HS256

[code]
Your example in your documentation would also fail:
[code]

Switching to another encryption scheme seems to solve our problems, but I wasn't sure if you were aware of something changin

[2021-03-15 08:18] dvsekhvalnov commented on #152
Hi @phillipells ,

mind posting output you getting (e.g. serialized token) ?

I've tried on .net4.7 and .netcore 3 (all windows 10, latest patches) and getting as expected (also unit tests are passing just fine):

[code]

[2021-03-15 11:35] NiladriPadhy opened #153 "Error On Xamarin Forms Platform"
/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.Legacy.targets(5,5): Error XALNK7000: Mono.Linker.MarkException: Error processing method: 'System.Byte[] Jose.ConcatKDF::DeriveKey(System.Security.Cryptography.CngKey,System.Security.Cryptography.CngKey,System.Int32,System.Byte[],System.Byte[],System.Byte[],System.Byte[])' in assembly: 'jose-jwt.dll' ---> Mono.Cecil

[2021-03-15 13:18] phillipells commented on #152
Hi @dvsekhvalnov,

First off, I'm sorry for wasting your time on this. Just did some and it was a combination of things on our end.
1. I misunderstood the different in format between a JWT and JWE
2. Someone had committed a breaking change in our system related to user identity that led to this

Again sorry for wasting your time. Closing the issue

[2021-03-15 13:18] #152 closed

[2021-03-15 16:37] dvsekhvalnov commented on #153
Hi @NiladriPadhy ,
not sure what the issue is about?

Library is not claiming Xamarin support, so unlikely i can be very helpful in troubleshooting it.

[2021-03-15 16:38] dvsekhvalnov commented on #152
No worries :)

[2021-03-18 12:23] dvsekhvalnov commented on #75
@gjermystreeva and @peih12 i've added documentation (and also simplified and aligned some things in SDK interfaces), would appreciate if you can take a look and comment:

https://github.com/dvsekhvalnov/jose-jwt/#jwe-json-serialization-support-rfc-7516

and also here:
https://github.com/dvsekhvalnov/jose-jwt/#decoding-json-serialized-encrypted-content

[2021-03-19 12:28] NiladriPadhy commented on #153
Hi @dvsekhvalnov,
Thank you for you response.
Found the issue in ConcatKDF.cs, DeriveKey () method. Can you please provide support/compatible code for NETSTANDARD2_0?

As a temporary workaround solution downloaded the source and refer to my Xamarin Solution Project and modified code with at end of DeriveKey() method.
#else
            throw new NotImplementedException("not yet");
Now I am able to

[2021-03-19 16:25] dvsekhvalnov commented on #153
@NiladriPadhy, yeah i can take a look if it is possible.

Or if you already have fixes that are compatible with netstandard 2.0 - feel free to submit PR, or simply drop them in comment, will be helpful.

[2021-03-20 00:31] kkaung opened #154 "Is v3.1 released?"
Looking for JWE support which the README states that it's in v3.1 but I don't see that on nuget.  Is this just me or is this version missing?

[2021-03-22 09:56] gjermystreeva commented on #75
Hi - really sorry missed this last week. Will aim to fit this in today if
possible. Br, Giles.

On Thu, 18 Mar 2021 at 12:23, DV ***@***.***> wrote:

--

*Giles Jermy*
Senior Engineer
+44 (0)7776304216

swiftaid.co.uk

Swiftaid is a product of Streeva Ltd <https://streeva.com/>, registered in
England & Wales (No. 09451226) and regulated by the Financial Conduct
Authority as an Account Information

[2021-03-22 10:42] NiladriPadhy commented on #153
@dvsekhvalnov In my jwt integration ConcatKDF.DeriveKey () is not being used, so as a temporary work around Just I have added to ignore the error.
#else
throw new NotImplementedException("not yet");
I am a Xamarin.Forms mobile App developer. I am not sure about it.

[2021-03-22 18:14] dvsekhvalnov commented on #75
always welcome :)

[2021-03-22 18:15] dvsekhvalnov commented on #154
Hi @kkaung , coming soonish, support in master and so docs, finalizing.

Feel free to watch https://github.com/dvsekhvalnov/jose-jwt/issues/75

[2021-03-22 23:54] #154 closed

[2021-03-24 20:58] gjermystreeva commented on #75
It looks good from my point of view.

On Thu, 18 Mar 2021 at 12:23, DV ***@***.***> wrote:

--

*Giles Jermy*
Senior Engineer
+44 (0)7776304216

swiftaid.co.uk

Swiftaid is a product of Streeva Ltd <https://streeva.com/>, registered in
England & Wales (No. 09451226) and regulated by the Financial Conduct
Authority as an Account Information Service Provider under the firm
reference number 821920.

[2021-03-26 19:29] user163 opened #155 "A JWE with ECDH_ES for P-521 and A256GCM cannot be decrypted with other libraries."
A JWE with ECDH_ES for P-521 and A256GCM cannot be decrypted with other libraries, e.g. JWCrypto. For P-256 there are no problems. If the JWE is created with a third library (Nimbus JOSE+JWT, Java), the decryption with JWCrypto works.

See also SO, [Cross Platform ECDH Encryption and Decryption Java and C#](https://stackoverflow.com/questions/66806282/cross-platform-ecdh-encryption-and-decryption-

[2021-03-27 10:47] dvsekhvalnov commented on #155
Hi @user163 ,

please checkout notes here: https://github.com/dvsekhvalnov/jose-jwt#notes

[2021-03-27 16:39] user163 commented on #155
@dvsekhvalnov - Thank you, I missed that. Then of course this issue can be closed.

[2021-03-28 11:19] #155 closed

[2021-04-01 19:55] dvsekhvalnov commented on #75
Ok, i'm so happy it's finally out, feel free to find v3.1 on nuget.org and also in release section https://github.com/dvsekhvalnov/jose-jwt/releases/tag/v3.1.0

@gjermystreeva thank you so much for your effort, it would have not happened without you ! And i feel i need to start putting a list of people who helped with library on front page :)

CC @kkaung who recently beed interested in release too

[2021-04-01 19:55] #75 closed

[2021-04-06 23:25] jonsagara opened #156 "In 3.1.0, calls to JWT.Decode<T> throw System.InvalidCastException"
Hi,

After upgrading from 3.0.0 to 3.1.0, my calls to JWT.Decode<T> started throwing `System.InvalidCastException`:

[code]

If I switch back to 3.0.0, everything works perfectly as it did before.

I have created a repo with reproduction steps here: https://github.com/jonsagara/JoseJwtDecodeException

But for posterity in this issue, here is the code under test:

[code]

[2021-04-07 12:07] dvsekhvalnov commented on #156
Hi @jonsagara , thanks i'll take a look.  There were some changes in Newtonsoft configuration, most likely related.

I feel i need to get rid of newtonsoft altogether.

[2021-04-08 08:41] isenmann opened #157 "In version 3.1.0 System.OverflowException is thrown if kid header is set to long"
Since version 3.1.0 an OverflowException is thrown because the kid header is set to a long value. In version 3.0.0 this works. The exception is the following:
[code]

Our token is generated like this:

[code]

According to the [changes to NewtonSoftMapper.cs](https://github.com/dvsekhvalnov/jose-jwt/commit/1dcddc411ed3e4cc4986b504ca32811f417e7dbc#diff-b57583165ef00efcc557587ad8d90c7a5f1996730d2561

[2021-04-08 09:42] isenmann commented on #157
Just as an additional information, the exception is thrown if we try to read the headers from the token with
`var headers = JWT.Headers(token);`
and not at the JWT.Encode call.

Maybe that wasn't completely clear from the above code and description.

[2021-04-08 12:13] dvsekhvalnov commented on #157
Thanks @isenmann , i'll take a look. Seems newtonsoft changes broke some things.

[2021-04-09 13:52] dvsekhvalnov commented on #157
@isenmann fix https://github.com/dvsekhvalnov/jose-jwt/commit/31ca2175c7cc3bb7cb95b28705aae16ed67311e0

i'll publish v3.1.1 as soon as i fix another newtonsoft related defect.

[2021-04-12 09:36] dvsekhvalnov commented on #156
@jonsagara fix here: https://github.com/dvsekhvalnov/jose-jwt/commit/f00912e847a148fab78360b8ca6e5fe8be822644

will try to publish to nuget todayish.

[2021-04-12 15:34] jonsagara commented on #156
Thank you for the quick turnaround!

[2021-04-13 06:32] dvsekhvalnov commented on #157
@isenmann , please find it on nuget https://www.nuget.org/packages/jose-jwt/3.1.1
(or https://github.com/dvsekhvalnov/jose-jwt/releases/tag/v3.1.1)

Would appreciate if you can try it and come back with feedback so we can close issue.

[2021-04-13 06:35] dvsekhvalnov commented on #156
@jonsagara   , please find it on nuget https://www.nuget.org/packages/jose-jwt/3.1.1
(or https://github.com/dvsekhvalnov/jose-jwt/releases/tag/v3.1.1)

Would appreciate if you can try it and come back with feedback so we can close issue.

Also i'd probably try to get rid of newtonsoft in v3.2 in favor of System.Text.Json (aka #130) for netcore 3+. May be something to watch out for.

[2021-04-13 06:37] dvsekhvalnov commented on #153
@NiladriPadhy , i have v3.1.1 published on nuget: https://www.nuget.org/packages/jose-jwt/3.1.1
(or https://github.com/dvsekhvalnov/jose-jwt/releases/tag/v3.1.1)

Have updated `ConcatKDF.cs` according to our conversation, would you mind to try it and let me know if it works as expected now? I don't have any Xamarin setup to try it myself unfortunately.

[2021-04-13 07:17] isenmann commented on #157
Thanks for the new version, I will try it and give you feedback as soon as possible.... \
Looking forward to the change to System.Text.Json!

[2021-04-13 08:16] isenmann commented on #157
My integration tests work without any problem, so your fix resolved the issue. Thanks for the fast fix and keep up the good work!

[2021-04-13 08:16] #157 closed

[2021-04-13 16:26] jonsagara commented on #156
All my tests are green again. Thank you!

[2021-04-13 16:26] #156 closed

[2021-04-14 15:55] kkaung commented on #75
@dvsekhvalnov thanks for tagging me in this!

[2021-04-28 17:42] dvsekhvalnov opened #158 "ES256K and EdDSA support"
Research and consider including support for `ES256K` and `EdDSA` signing. Those seems to get some popularity.

[2021-04-30 07:25] ekjuanrejon commented on #153
I upgrade my xamarin project to 3.1.1 and I still have the issue.  I have to downgrade to 2.6.1

[2021-04-30 10:23] dvsekhvalnov commented on #153
Hi @ekjuanrejon , thanks for sharing feedback.

I probably need more information to make any meaningful fix, as i don't have any Xamarin setup myself.

[2021-04-30 11:16] enricopay commented on #153
Same issue here, let me know if you need additional information

[2021-04-30 16:25] dvsekhvalnov commented on #153
Well, @enricopay if you have an idea how conditional compilation should be set here: https://github.com/dvsekhvalnov/jose-jwt/blob/7793e4280ee923489233538cabe19e427005a1bf/jose-jwt/crypto/ConcatKDF.cs

to make it work with Xamarin. I'd happy to make custom build for you to try.

[2021-05-27 03:43] jedlyq opened #159 "ECDH-ES+A128KW throws exception"
Token Header:
{
  "epk": {
    "kty": "EC",
    "crv": "P-521",
    "x": ".......",
    "y": "....."
  },
  "kid": kid_enc",
  "cty": "JWT",
  "enc": "A256CBC-HS512",
  "alg": "ECDH-ES+A128KW"
}

Below is the code extract (VS 2019, .Net4.61)
CngKey cngKey = EccKey.New(receiverX, receiverY, receiverD, CngKeyUsages.KeyAgreement);
string result= Jose.JWT.Decode(tokenB64Url, cngKey, Jose.JweAlgorithm.

[2021-05-27 08:06] dvsekhvalnov commented on #159
Hi @jedlyq ,

this means token validation failed. May be you using wrong key?

[2021-05-27 08:28] jedlyq commented on #159
Hi, DV,

I double confirmed a few time, I was able to decode the same token using the same set of key

[2021-05-27 08:38] dvsekhvalnov commented on #159
Well, if you want to share your key and payload i can try to test myself. At the moment i can't say more using given information.

Based on error message you getting, i think it is pretty clear, it can't decode content encryption key, that can happen in 2 cases:
 - you using wrong key
 - your token have been tampered while in-transit

[2021-05-27 08:41] dvsekhvalnov commented on #159
@jedlyq , check this https://github.com/dvsekhvalnov/jose-jwt#notes also. Just noticed you are using P-521 curve.

Is your incoming token generated by some other library that not relies on Microsoft Window crypto implementations?

[2021-05-28 01:48] jedlyq commented on #159
Thanks so much. I think that's the cause.

[2021-05-28 10:12] dvsekhvalnov commented on #159
Well, you can confirm by trying with P-256 curve - if it works, but others don't - that's it.

Unfortunately i can't do much about it. Was contacted twice by Microsoft, gave them all details and unit tests, never heard back :(

[2021-07-06 14:38] hiteshsalian opened #161 "Jose.InvalidAlgorithmException JWA algorithm is not supported: http://www.w3.org/2001/04/xmlenc#rsa-oaep"
Hi,
We are facing issue while decrypting/decoding the JWE token issued by Microsoft's default token implementation . i.e. JwtSecurityTokenHandler.CreateEncodedJwt(securityTokenDescriptor)

**1) Tried using Jose.JWE.Decrypt()method**
**_var token = Jose.JWE.Decrypt(encryptedToken, privateKey);_**

**Exception Details**
[code]
**2) Tried using Jose.JWT.Decode() method**
**_var token = Jose.JWT.Decod

[2021-07-06 15:37] dvsekhvalnov commented on #161
Hi @hiteshsalian ,

mm, mind posting example token?

`http://www.w3.org/2001/04/xmlenc#rsa-oaep` sounds like XML Encryption, not JSON Web Encryption.

[2021-07-06 15:53] hiteshsalian commented on #161
Hi @dvsekhvalnov

**Sample Token :** eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGVuYyNyc2Etb2FlcCIsImVuYyI6IkExMjhDQkMtSFMyNTYiLCJraWQiOiJBNDBCRDlDRjY1RDkwNENDOURGRTZFRjdEQjcyMTE4NTQ3OEM1RUVEIiwidHlwIjoiSldUIn0.ZaZXVI4HLfJKnRugeufY9Gl_Ts7p7ZN_FtLJvJ-13kzkHr4coMDuqeyjEyEr1zgWlOCDs3vKqqmIjbCbrz7POQAo_1T5Xb_GZONAAkpzUpwI1syWs2nJkiBm4FsyAsU4MBGp_pbCjzlN2hVa--a7tnEZ1pY-p68j9GAMAddJgCHM-SDvXFAv47P

[2021-07-06 16:14] dvsekhvalnov commented on #161
@hiteshsalian , your headers contains clearly weird value for `alg`:

[code]

Consider changing producer side of things to follow spec: https://datatracker.ietf.org/doc/html/rfc7518#section-4.1 ?

[2021-07-06 16:38] hiteshsalian commented on #161
@dvsekhvalnov

Appreciate your help here. We will change the producer side.

I believe Microsoft library is assigning the "alg" by default.

I found link on usage for additional header.
https://openid.net/specs/draft-jones-json-web-encryption-02.html#W3C.CR-xmlenc-core1-20110303
(check section 9.2)

Thank You

[2021-07-06 16:51] dvsekhvalnov commented on #161
Well, you clearly can put any value to 'alg' header, but most libraries out there will not understand beyond JWA spec.

Feel free to close ticket if all resolved :)

[2021-07-06 17:11] hiteshsalian commented on #161
Thank you.  Will close this ticket

[2021-07-06 17:11] #161 closed

[2021-07-09 09:19] #159 closed

[2021-07-09 09:19] dvsekhvalnov commented on #159
Closed due to inactivity, feel free to re-open.

[2021-07-12 17:50] dvsekhvalnov commented on #130
@robmen thank you for your contribution !

All please find v3.2 on nuget with `System.Text.Json` support (also CC: @isenmann)

[2021-07-12 17:50] #130 closed

[2021-07-26 15:24] venkatpoluri opened #162 "Signed and Encrypted message couldn't decrypted"
Hello Dvsekhvalnov,
I'm doing the sign and encrypt the data with predefined keys but couldn't decrypt it in C#.
**Could you please help me with what went wrong with signing and encryption?**

I'm using the below keys for signing/ encryption and decrypt/ verify.

### Platform: Windows 10 /.Net Core 3.1

{
  "clientSign": {
    "kty": "EC",
    "d": "zmnSC_P5Xzefte7vkdINXLAN2LeBgC0S5QTcPO2mI5vo62chc

[2021-07-26 15:36] venkatpoluri opened #163 "Sign with alg ES384 and encryption with alg ECDH-ES+A256KW is supported in .Net Core 3.1"
Hello Dear,

Is it Sign with alg ES384 and encryption with alg ECDH-ES+A256KW  supported in .Net Core 3.1?

I am loading the keys from json file. I can generate Cng key from the json file for signing and encryption.

But Encryption is not proper I couldn't decrypt it.

I'm using .Net Core 3.1

Please share the implementation plan.

[2021-07-26 19:45] dvsekhvalnov commented on #163
Hi @venkatpoluri ,

have you read https://github.com/dvsekhvalnov/jose-jwt#notes ?

[2021-07-30 10:43] venkatpoluri commented on #163
Thanks for your reply. As per Notes, I can't use more than 256-bit keys. Is it support in  .Net 5.0?

[2021-08-02 04:56] charliexinhuan opened #164 "Decrypt using ECDH-ES+A256KW with A256CBC-HS512"
Hi, it seems decryption using ECDH-ES+A256KW with A256CBC-HS512 is not supported in jose? Thanks.

[2021-08-02 06:11] charliexinhuan commented on #164
I'm getting this error: {"JWS algorithm is not supported: ECDH-ES+A256KW"}

[2021-08-02 08:29] dvsekhvalnov commented on #163
Hi @venkatpoluri ,  yeah it may be not compatible. I'd recommend to test ECDH-ES+A128KW if you can. And see if it works to isolate issue. (If it still not - let's troubleshoot more).

I can try to get .net 5 environment to test, but the issue was inside Microsoft's CNG native driver for windows, unlikely .net version matters, though i'll try to verify.

[2021-08-02 08:43] dvsekhvalnov commented on #164
Hi @charliexinhuan ,

it should be working just fine. Any chances you may running into https://github.com/dvsekhvalnov/jose-jwt#notes ?

If you post more details (like error message may be) i can try to help more.

[2021-08-02 08:44] dvsekhvalnov commented on #163
Hey, i've replied in github.

On Fri, Jul 30, 2021 at 1:43 PM venkatpoluri ***@***.***>
wrote:

[2021-08-02 09:02] charliexinhuan commented on #164
![image](https://user-images.githubusercontent.com/36948119/127834410-861897ae-aa16-4243-a29f-1d66fb9979cd.png)

Hi @dvsekhvalnov ,

Please see the attached image. There is no further error message being shown other than "AesKeyWrap integrity check failed."

[2021-08-02 09:32] dvsekhvalnov commented on #164
This usually means you passing in tampered message. What's inside your `myResponse` var?

[2021-08-02 09:48] charliexinhuan commented on #164
It's the jwe token string returned by third party. The problem is the message was not tampered.

[2021-08-02 09:56] dvsekhvalnov commented on #164
well, if you can post its value and some key to decrypt it here, i can try to run it myself to check.

[2021-08-05 07:15] venkatpoluri commented on #163
Thanks for reply.

[2021-08-05 07:15] #163 closed

[2021-08-11 01:23] charliexinhuan commented on #164
Hi @dvsekhvalnov, can i also check for the decrypt function, the second parameter's key should be the requestor encryption private key am i right?

[2021-08-11 12:10] dvsekhvalnov commented on #164
@charliexinhuan when you do encryption:
 - you encrypting with public key of **recipient**
 - and decrypting with private key of **recipient**

because you want only recipient of token to be able to decrypt it and nobody else. So you typically not using **requestor** keys (unless you using pre-shared symmetric keys)

[2021-08-12 01:12] charliexinhuan commented on #164
Does jose-jwt supports 5 part structured token encryption and decryption?

[2021-08-12 01:40] charliexinhuan commented on #164
To add on for the keys:
1. recipient decryption key - ECDH-ES+A256KW and A256CBC_HS512
2. sender signature key - ECDSA_P256

it seems like when i trying to validate the signature by using the decode function, i'm getting the following error:
{"Keys used with the ECDiffieHellmanCng algorithm must have an algorithm group of ECDiffieHellman." & vbCrLf & "Parameter name: key"}

[2021-08-12 10:51] dvsekhvalnov commented on #164
@charliexinhuan jose-jwt supports 5 part token (called encrypted token).

I'm slightly lost, you mentioning multiple keys now. What is 'sender signature key' ?

Probably it will easier to troubleshoot if you share some code or sample token and sample keys to decode.

[2021-08-17 13:45] dvsekhvalnov commented on #162
Hi @venkatpoluri ,

is this ticket same or related to #163? Or some other issue?

[2021-09-01 20:41] vermie commented on #132
You changed the signature of JWT.Decode in ea2577fd2e824fe3e41152c57b73f0132151ff8c

My project gets jose-jwt from two sources:
1) a direct dependency via nuget
2) a private nuget package, which also has a dependency on the jose-jwt nuget package

The private nuget package updated its jose-jwt to 2.5.0, causing the published application to ship with 2.5.0.
My code was compiled against 2.3.0, and n

[2021-09-02 09:08] alex-jitbit opened #165 "Jose.JWT.Decode<dynamic> stopped working after dropping Newtonsoft"
This is because of known limitations of System.Text.Json that will be fixed in .NET 6 Preview 7

Please either revert the change (because this is a breaking change - code that worked before has stopped working) or include a workaround

[2021-09-02 15:08] dvsekhvalnov commented on #165
Hi @alex-jitbit ,

parsing to object model obviously was library design mistake back in a past, too many issues with it. I need to consider dropping it altogether.

But nothing really prevents you to use Newtonsoft.Json library if you prefer, here is relevant documentation link: https://github.com/dvsekhvalnov/jose-jwt#customizing-json---object-parsing--mapping

Reference implementation is still a

[2021-09-04 22:34] #165 closed

[2021-09-09 01:00] charliexinhuan commented on #164
Hi, i'm able to do the decryption now. It seems like there is really a bug in Microsoft CNG that key cannot be more than 256 bit. Thanks for the help

[2021-09-09 01:00] #164 closed

[2021-09-09 18:59] Ravi-Rajan opened #166 "Unable to Decrypt JWE using algorithm A128CBC-HS256 in .Net core"
Hello Dvsekhvalnov,
I'm doing the JWT encryption with predefined keys and converted into JWE in the middleware but couldn't decrypt it in backend C# service. Whereas I can make this work using **java**. Could you please share the equivalent **C# code** for the below snippet?

public static String decryptJWE(String jweToken, String base64EncodedCryptoKey) throws Exception {

  try {
	  String JWK_F

[2021-09-10 12:20] dvsekhvalnov commented on #166
Hi @Ravi-Rajan ,

guess you want (instead of ASCII):

[code]
?

If you can post your `jweToken` sample i can try to run it.

[2021-09-11 04:07] Ravi-Rajan commented on #166
Hi Dvsekhvalnov,

Thanks for checking up on this. Below given the jweToken sample which I'm trying to convert as original jwt token provided by OKTA.

String jweToken = "eyJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIiwiY3R5IjoiSldUIn0..YJbMJRChez1-3uWtkMuDDA.-dM6VZOvSNmdEPa5iJMVH-5h3k4RznsHiEonD82zYKnXx-bd1zrECe5qzgFEAJrulwgjVWPuI5dsPrNEGQo_H1iRdrsWm3URoEgdwYU2eoEmJ5bBD9Tq1HtBu4XW5RCEuVHZwhGZ13_jsY

[2021-09-14 05:50] dvsekhvalnov commented on #166
Hi @Ravi-Rajan , snippet below works just fine to me:

[code]

[2021-09-14 07:29] Ravi-Rajan commented on #166
Hi @dvsekhvalnov,

You are absolutely correct. All the time I was trying the wrong method for decoding. I appreciate the quick response. Thanks!!!

[2021-09-14 18:14] dvsekhvalnov commented on #166
Glad it working :) Feel free to re-open if more questions.

[2021-09-14 18:14] #166 closed

[2021-09-16 05:32] cakriwut opened #167 "Windows Cryptography Next Generation (CNG) is not supported on this platform."
I am building an app for docker linux container.
During the runtime EccKy.New(x,y,d, CngKeyUsages.KeyAgreement) throws exception

System.PlatformNotSupportedException: Windows Cryptography Next Generation (CNG) is not supported on this platform.

--
Is there fix for this issue?

[2021-09-16 09:58] dvsekhvalnov commented on #167
Hi @cakriwut ,

this means your platform (Linux i guess) doesn't provide CNG drivers, those are usually only available in Windows.

But the answer depends on what you trying to do actually.  If you trying to load Elliptic Curve key there are other way to do it:

[code]

for instance.

[2021-11-11 00:43] ardove commented on #91
Any updates on this rather old issue? 3 has been released (in addition to 5 and 6).

[2021-11-11 06:51] dvsekhvalnov commented on #91
Hi @ardove ,

if we talking about AES GCM encryption, jose-jwt v3+ using managed encryption with NETSTANDARD2_1: https://github.com/dvsekhvalnov/jose-jwt/blob/master/jose-jwt/crypto/AesGcmNetCore.cs

It should work without bcrypt.dll. Assuming .net implements it on underlying OS.

[2021-11-11 18:13] ardove commented on #91
Yeah, ok, cool, I just realized we're a couple versions behind, so I'll re-test. Thank you!

[2021-11-11 18:38] dvsekhvalnov commented on #91
Cool, let me know if all works and i'll close it :)

[2021-11-11 21:55] ardove commented on #91
@dvsekhvalnov, yeah, it looks like it's working as I'd expect. thanks a bunch!

[2021-11-12 11:01] dvsekhvalnov commented on #91
Awesome, let me close it !

[2021-11-12 11:01] #91 closed

[2021-11-28 04:18] cakriwut commented on #167
To close this discussion, finally this is what I did:
1. Use Jering.Javascript.NodeJS , to execute node-jose instead of jose-jwt.
2. Include nodejs and node-jose in the build image.

[2021-11-28 04:18] #167 closed

[2021-12-15 12:43] StevenDevooght opened #171 "JWS JSON Serialization"
Is JWS JSON serialization as described in [RFC 7515](https://www.rfc-editor.org/rfc/rfc7515.html#section-3.2) supported by this library?

[2021-12-15 20:06] dvsekhvalnov commented on #171
Hi @StevenDevooght ,

nope, library supports only [RFC 7516](https://datatracker.ietf.org/doc/html/rfc7516) at the moment. Somewhat similar but for encrypted payloads.

I'd interested to hear your use case though :) Is not that i have immediate plans to add RFC 7515, but can consider it too or you can do PR too.

[2021-12-16 07:50] StevenDevooght commented on #171
Hi,

We have to integrate with a government web service and they require us to first sign (JWS) & then encrypt (JWE) our payload:

- JWS: must use JSON serialization mode, not flattened
- JWE: must use JSON serialization mode, flattened

I think the requirements for JWE [are met](https://github.com/dvsekhvalnov/jose-jwt/pull/150). We are just missing the JSON serialization part for JWS. If I find

[2021-12-16 12:39] DanielVernall opened #172 "JWS algorithm is not supported: dir"
I have JWEs created by one application using jose-jwt version 2.4.0.0, using a shared symmetric key like so:

token = JWT.Encode(payload, secretKey, JweAlgorithm.DIR, JweEncryption.A256CBC_HS512)

I can decrypt and decode these tokens fine in the same application using:

json = JWT.Decode(token, secretKey)

But when trying to decode the tokens in another application using the exact same jose-jwt v

[2021-12-16 13:19] #172 closed

[2021-12-16 13:24] DanielVernall commented on #172
Apologies, I was writing a simple JWE decryptor app for testing purposes using WinForms and didn't realise part of the token was being truncated due to the default maximum length in the input box. Because the final segment was cut off, DecodeBytes() expected a standard JWS instead of JWE and produced the InvalidAlgorithmException as it, quite rightly, does not accept the direct algorithm for JWS f

[2021-12-16 16:48] dvsekhvalnov commented on #172
No worries, glad it working :)

[2021-12-16 16:51] dvsekhvalnov commented on #171
yeah, JWE support quite good.

PRs always welcome :) just word of caution, it can take some time to review/merge, especially for bigger ones (JWE took around month for reference). Plus hell a lot of changes in json web key branch at the moment.

[2022-01-13 08:30] metehan opened #173 ".."
wrong place

[2022-01-13 08:34] #173 closed

[2022-01-17 07:26] saswademayur opened #174 "Using an HTTPS JWKS endpoint"
**Using an HTTPS JWKS endpoint**

Need to have a inbuilt way to resolve keys from an issuer who publish its public keys as a JSON Web Key Set at an HTTPS endpoint.
The consumer of the JWT can then periodically retrieve the keys from the host authenticated and secured endpoint for further use.

A similar API is already available in jose4j library used for JAVA programming. below is the link to docu

[2022-01-19 16:22] jjballesteros69 opened #175 "The assembly"
Hello, I've found this nuget awsome, but.....

Why it is not properly signed?

When I compile the assembly that is using this nuget, i got the compilation message:

"warning CS8002: Referenced assembly 'jose-jwt, Version=3.2.0.0, Culture=neutral, PublicKeyToken=null' does not have a strong name."

And obviously when I run the application that uses it, it throws an exception.

In advance, thanks fo

[2022-01-20 12:32] dvsekhvalnov commented on #175
Hi @jjballesteros69 ,

it is actually in README: https://github.com/dvsekhvalnov/jose-jwt/blob/15a255092511e5f5867075279cc11063fecae92a/README.md#strong-named-assembly

:)

[2022-01-28 19:29] Stevie-O commented on #158
Also X25519 for ECDH-ES (RFC-8037)

[2022-01-31 19:18] dvsekhvalnov commented on #158
ok :)

[2022-03-16 20:08] mhamann commented on #158
Here's another vote for supporting EdDSA signing/verification!

[2022-03-17 06:31] dvsekhvalnov commented on #158
i hear you guys :) will be next one in a chain

[2022-03-21 16:13] daniel-botero-cko opened #176 "JWT.Encode - ECDH_ES - A256GCM - Not supported in Linux"
Hello,

I have tried to make `JWT.Encode()` work with .net5 and in Linux without success.
It seems that CngKey is only supported in the Windows platform.

Is there a workaround to Encrypt a payload using Alg: ECDH_ES Enc: A256GCM using jose-jwt library?

Below is the code that works in Windows:

[code]

[2022-03-21 17:02] dvsekhvalnov commented on #176
Hi @daniel-botero-cko ,

yeah, you right `CngKey` is Windows only.

You can do AES-GCM on Linux - there is managed implementation in .net core, fully supported by library.

But there are no EC Diffie-Hellman managed implementation, so no luck at the moment.

[2022-03-21 17:26] daniel-botero-cko commented on #176
@dvsekhvalnov Thanks for your message.

Sorry for this question (I am not very good at cryptography), what is the difference between AES-GCM and ECDH_ES-A256GCM?

If a encrypt the json below with AES-GSM it will produce a completely different JWE than if I have done it with ECDH_ES-A256GCM?

`"{\"num\":\"1234567891234567\",\"ram\":\"1223\"}";`

[2022-03-22 08:00] dvsekhvalnov commented on #176
@daniel-botero-cko sure thing:

So, encrypted JWTs are actually 2 step process:

1.  Content of token encrypted using symmetric key, this is what AES-GCM or AES-CBC-HMAC algorithms are used for
2. The encryption key itself is "wrapped" (protected) with  another asymmetric/symmetric encryption algorithm to ensure nobody except recipient can figure it out while in-transit, this is where algorithms l

[2022-03-22 08:40] #176 closed

[2022-04-05 19:10] dvsekhvalnov commented on #162
closed due to inactivity, feel free to re-open

[2022-04-05 19:10] #162 closed

[2022-04-06 11:17] dvsekhvalnov commented on #175
closed due to inactivity

[2022-04-06 11:17] #175 closed

[2022-04-06 11:19] dvsekhvalnov commented on #174
@saswademayur  Please see example #3 here:  https://github.com/dvsekhvalnov/jose-jwt#examples

[2022-04-06 12:26] dvsekhvalnov commented on #10
v4.0.0 released.

[2022-04-06 12:26] #10 closed

[2022-04-06 12:26] dvsekhvalnov commented on #128
v4.0.0 released.

[2022-04-06 12:26] #128 closed

[2022-04-06 12:27] dvsekhvalnov commented on #174
v4.0.0 released.

[2022-04-06 12:27] #174 closed

[2022-04-06 12:28] dvsekhvalnov commented on #26
closing as too old.

[2022-04-06 12:28] #26 closed

[2022-04-11 07:07] weirdyang opened #178 "ECDH-ES and ECDH-ES+A128KW, ECDH-ES+A192KW, ECDH-ES+A256KW key generation"
I'm trying to create a EC key similar to below:

[code]

Based on the documentation:
I can do something like this:
[code]

How do I obtain the x and y ? I'm stuck at this step:

[code]
How do I use the CNGKey to derive the x and y? Thanks.

[2022-04-11 10:19] weirdyang commented on #178
Ahh thanks! So the x and y are automatically generated?

[2022-04-11 10:37] dvsekhvalnov commented on #178
Yep, if you loading it from existing Cng or ECDsa or other .net type key - it will fully populate Jwk fields (x,y, crv, kty, e.t.c.)

[2022-04-11 11:58] #178 closed

[2022-04-11 22:17] weirdyang commented on #178
Sorry one last question, will this be the way to generate JWTs signed by the JWK?

`var myToken = Jose.JWT.endcode(payload, jwk); `

[2022-04-12 06:12] dvsekhvalnov commented on #178
Hey, probably it's too much code for such simple thing. `Jwk` itself is a signing key, no additional magic needed to use it. You don't need to serialize it or put to JsonWebKeySet. You can just use it as is.

Checkout example 3 here https://github.com/dvsekhvalnov/jose-jwt#es---family

[2022-04-12 06:39] weirdyang commented on #178
Thanks again. My confusion comes from this:
![image](https://user-images.githubusercontent.com/25576022/162895459-e3848181-8f43-45be-a741-c4ad9593f9c6.png)
I'm trying learn how to create the JWKs required to complete the login flow outlined in the [docs](https://api.singpass.gov.sg/library/login/business/implementation-technical-requirements).

Get public key in json format:
``
 var edna = X509.Ge

[2022-04-12 06:51] dvsekhvalnov commented on #178
So it sounds like you want to serialize your signing/encryption key to JSON, that's pretty easy as well:

[code]

[2022-04-13 02:58] weirdyang commented on #178
Thanks.

I've managed to generate it from a private key, but the `x`, `y` and `d` does not match with the JWK generated with `node-jose`, is that expected?

`node-jose`

[code]

`jose-jwt`
[code]
[code]

[2022-04-13 11:39] dvsekhvalnov commented on #178
1. Yes, `d` is private ECC param.
2. You can just drop `d` - and it will be public params only. Or load only public part from PEM file. Do you have a code to share?

[2022-04-13 13:14] weirdyang commented on #178
Hi,

Thanks again.

I've managed to figure out most of it with your help!

Here's my code;

https://github.com/weirdyang/jwk-singpass/blob/cd747e2532b2665cf051ead9a957d422e070a521/KeyGen/Program.cs#L50

I'm at the moment trying to figure out how to decrypt a JWE in the JWS. I've attached a link to my code for your reference. Is that the right method?
The `id_token` will be encrypted based on the p

[2022-04-13 18:28] dvsekhvalnov commented on #178
@weirdyang link to your code gives me 404 error, probably it's private repo.

[2022-04-14 01:42] weirdyang commented on #178
My bad;
I'm at the moment trying to figure out how to decrypt a JWE in the JWS. I've attached a link to my code for your reference. Is that the right method?
The id_token will be encrypted based on the public key I sent over, and then signed.

I am trying to simulate it by encrypting it myself, but I cant seem to decrypt it.
`Jose.IntegrityException: 'AesKeyWrap integrity check failed.'`
https://g

[2022-04-14 18:29] dvsekhvalnov commented on #178
Well, you don't need to use `JWE`, this one is for https://datatracker.ietf.org/doc/html/rfc7516 , probably not what you looking for (though no harm). `Jose.JWT.Decode(..)` will do decryption just fine with single line of code.

Also your `sgpPublicKey` is JwkSet not a single key, you need to grab specific key out of it before passing to it to decode call here: https://github.com/weirdyang/jwks-ne

[2022-04-15 02:55] weirdyang commented on #178
Thanks again!

[2022-04-25 14:35] eirikmorken opened #179 "AES/GCM/NoPadding decryption failed: Tag mismatch!"
Attempting to sign and encrypt JWT token. When decrypting I get com.nimbusds.jose.JOSEException: AES/GCM/NoPadding decryption failed: Tag mismatch! ... Caused by javax.crypto.AEADBadTagException: Tag mismatch!

Decrytion is done outside my control, but decrytion has worked in the past with similar requests.

Using following code:

[code]

[2022-04-25 15:12] dvsekhvalnov commented on #179
Hi, @eirikmorken

sounds like key mismatch at first glance.

Library is cross-tested against nimbusds, should be no compatibility issues.

[2022-04-27 02:09] zzggs opened #180 "JWE Key ID not found in encrypted request message!"
Hi all,

We want to convert Java code to C#, Java code sample:

`private JWSObject signMessage(String messagePayload, KeyStore ks, String keyAlias, String keyPw)
  throws UnrecoverableKeyException, KeyStoreException, NoSuchAlgorithmException, JOSEException {
#1  Payload payload = new Payload(messagePayload);

#2  JWSHeader header = new JWSHeader.Builder(JWSAlgorithm.RS256).keyID("0001").build();
#

[2022-04-27 03:20] zzggs opened #181 "JWT.Encode with certificate private key is not working"
We are using following sample code:
`var payload = new Dictionary<string, object>()
{
    { "sub", "mr.x@contoso.com" },
    { "exp", 1300819380 }
};

var headers = new Dictionary<string, object>()
{
     { "typ", "JWT" },
     { "cty", "JWT" },
     { "keyid", "111-222-333"}
};

var privateKey=new X509Certificate2("my-key.p12", "password", X509KeyStorageFlags.Exportable | X509KeyStorageFlags.Mach

[2022-04-27 03:24] #180 closed

[2022-04-27 09:40] eirikmorken commented on #179
Thank you for your reply @dvsekhvalnov . Could you provide an example of how one would apply the key chain to sign and encrypt the payload? Do you still need to "JWT.Encode..." twice?

[2022-04-27 11:17] dvsekhvalnov commented on #179
Hi @eirikmorken ,

1. if you want to separately sign token and then encrypt it  - you'd call `JWT.Encode` twice:
[code]

2. What is `key chain`? Did you mean `cert chain` instead?

[2022-04-27 11:23] dvsekhvalnov commented on #181
Hi @zzggs ,

can you post `token` value after executing:

[code]
?

I really can't comment on `JwtSecurityTokenHandler`, have no idea what's that.

[2022-04-27 12:45] eirikmorken commented on #179
Apologies, yes I meant certificate chain. How I would access my private key and public key after adding them to the key.SetX509Chain.

After simply adding both sertificates to the keychain and using them:

[code]

(RsaUsingSha alg expects key to be of RSA type or Jwk type with kty='RSA')
 ---> System.ArgumentException: RsaUsingSha alg expects key to be of RSA type or Jwk type with kty='RSA'
   at

[2022-04-27 13:33] dvsekhvalnov commented on #179
I think you trying to misuse `x5c` param. It is basically not a way to hold or transfer key material, it's just a "hint" to provide trust chain to receiver to let him ensure he can trust your key:

1. your key is encoded to JWK normal way via (x,y or n,p,d or other params)
2. your first value in `x5c` array is PKIX certificate containing the key from (1)
3. all next values in array - are direct is

[2022-04-27 13:34] dvsekhvalnov commented on #179
Do you have example of what you trying to achieve? May be there is easier way.

[2022-04-27 15:17] eirikmorken commented on #179
I assume the code in my initial post is rather close to what i want to achieve.

I want to sign a json string, with one certificate.
Then encrypt the payload using another certificate. I wish to add an extra header with the thumbprint of the encryption certificate, to show which encryption certificate I used to the recepient.

Would be great to know whether the code I published would do what I jus

[2022-04-28 03:34] zzggs commented on #181
Hi @dvsekhvalnov ,

Thanks a lot for your reply.

I found the issue by myself, the issue is related to free managed certificate on Azure app serive, seems it can not be used to sign and encrypt. I will try a new SSL certificate instead.

I put token on [https://jwt.io/](url) , it told me invalid signature. I take a lot time to research source code and Java JWS and JWE object, finally I'm in wrong

[2022-04-28 06:18] dvsekhvalnov commented on #179
Here you go, sender side, c#:

[code]

Receiver side, java, nimbusds library:

[code]

Working just fine, you can run yourself.

[2022-04-28 08:12] dvsekhvalnov commented on #181
So do you have more questions or help? Or good to close issue?

[2022-04-28 11:23] eirikmorken commented on #179
Thank you! You have been truuly helpful.
Is it possible to get an example of how to decode in c# as well?

[2022-04-28 11:26] #179 closed

[2022-04-29 06:47] zzggs commented on #181
No, we created a self-signed SSL certificate, same issue throwed.

I put token on [https://jwt.io/](https://github.com/dvsekhvalnov/jose-jwt/issues/url) , it also told me invalid signature.

Refer to sample code:
`var payload = new Dictionary<string, object>()
{
    { "sub", "mr.x@contoso.com" },
    { "exp", 1300819380 }
};

var privateKey=new X509Certificate2("my-key.p12", "password").GetRSAPriv

[2022-04-29 08:30] dvsekhvalnov commented on #181
1. Did you put your key to jwt.io? It will always tell you wrong signature unless you add your verification key.
2. See my last comment here https://github.com/dvsekhvalnov/jose-jwt/issues/179 is it helpful ?

[2022-04-29 08:49] zzggs commented on #181
Hi dvsekhvalnov,

Thanks for your help, I have read the post you mentioned, still cannot find the reason.

I'm using JWT.Encode twice to generate signed token with our private key and encrypted token with public key from another cert.

I also try using JWK as parameter to generated signed token:
`Jwk encryptionKey = new Jwk(privatekey, isPrivate: true);
var jwksign = Jose.JWT.Encode(payload, encry

[2022-04-29 09:09] zzggs commented on #181
Hi dvsekhvalnov,

I have modified my previous post, code is there, please help me check code. Seems nothing is incorrect.

Do you mean receiver side is using a different cert to verify our token? Seems this is also possible.

[2022-04-29 10:23] dvsekhvalnov commented on #181
What's inside `header` and `header1`?

Do you have receiver code as well?

Yes, i meant receiver side using different cert and authn tag didn't match, so it can't decrypt.

[2022-04-29 11:01] zzggs commented on #181
I have checked with receiver, they are using correct cert.

Header and header1 only contain one key with different kid, also will include alg after encoding.

Still not found what's wrong with my code.

Response : AES/GCM/NoPadding decryption failed: Tag mismatch!

[2022-04-29 11:05] dvsekhvalnov commented on #181
Show full snippet so i can run it and try against Nimbus. I'm assuming receiver using NimbusDS java library?

[2022-04-29 11:22] zzggs commented on #181
Hi dvsekhvalnov,

Yes, you are great. Receiver is using Java Nimbus-JOSE-JWT. I only got Java sample code, no .Net sample.

I can share Java sample code:
**Sign method**
private String decryptMessage(String respMsgPayload, KeyStoreFactory keyStore)
  throws KeyStoreException, NoSuchAlgorithmException, CertificateException, IOException,
         java.text.ParseException, UnrecoverableKeyException,

[2022-04-29 14:41] dvsekhvalnov commented on #181
Your .net code is fine. While your java snippet is not receiver, it doing same thing as .NET sign and encrypt.

Can you show java part that decoding your .net created token?

[2022-04-29 15:57] michaelakin opened #184 "extraHeaders do not seem to be working."
I added an extraHeader and it did not appear when i put the token into jwt.io.  Also, if you try to override the "alg" header it is supposed to throw an exception and it does not.

[2022-04-29 16:06] michaelakin commented on #184
Nevermind, I removed the JWT package and now it works, but it still does not throw that exception if you add the alg to the extra headers.

[2022-04-29 18:58] dvsekhvalnov commented on #184
'alg' / 'enc' in extra headers documented here: [Why it supposed ](https://github.com/dvsekhvalnov/jose-jwt#adding-extra-headers)

Can you post your code that doesn't include additional headers?

[2022-04-29 19:58] michaelakin commented on #184
I tried in a fresh app and could not re-create.  In the original app, I removed the other JWT nuget package the headers started showing up.

[2022-05-03 10:57] dvsekhvalnov commented on #184
Glad it working, feel free to close then :)

[2022-05-05 01:45] zzggs commented on #181
I'm afraid the answer is no. Receiver just show sample code, I had contacted them before, they told us we need to sign message with our private key first. There must be different bewteen Java and .Net code. It seems following code makes different change:
`jwsObject.sign(signer);`

I think this is not a technology issue, I have no idea, so take a chance here.

[2022-05-05 09:19] dvsekhvalnov commented on #181
Well, it's hard for me to help further without additional info. It sounds like mismatch with keys to me, probably dig into given direction. Did you register your public key at receiver?

[2022-05-05 09:22] zzggs commented on #181
Yes, we confirmed with receiver before. Receiver told us the message could be decrypted just now, I will try again to check if it is working now. Thanks.

[2022-05-11 22:11] TL-Onam opened #185 "Arrays are not working in latest version of package"
In version 3.1.1 I was able to create JWTs using the following object structure (see below) but in the latest release (both 3.2.0 and 4.0.0) this is failing. I get a JWT back but when I validate this at either jwt.io or jwt.ms the `scopes` array is empty (using latest version) however downgrade the package to 3.1.1 it works fine.

Am I doing something wrong here? Something has changed but perhaps

[2022-05-12 09:11] dvsekhvalnov commented on #185
Hi @TL-Onam ,

in **v3.2** Newtonsoft.Json was dropped in favor of System.Text.Json for default serialization mechanism. That's probably what's causing issues if you want to use object payloads.

You can still continue using Newtonsoft if you prefer, the previous implementation still living in repo: https://github.com/dvsekhvalnov/jose-jwt/blob/master/jose-jwt/json/NewtonsoftMapper.cs

You can use

[2022-05-12 11:52] TL-Onam commented on #185
The interesting thing about this is that if I were to do this (see below) it works fine.

`claims["scope"] = scopes ?? DefaultScopes;`

Changing the default settings does the job but does introduce a lot more code than the one liner I've done above. I did change the mix of deserialization, thanks for that spot.

[2022-05-12 15:06] dvsekhvalnov commented on #185
But you just assigning "scope" key in claims dictionary. That's obviously will work :)

Little bit unclear do you want to use object models payload or just generic strings/dictionaries?

[2022-06-16 16:15] Nizam-tch opened #186 "AesKeyWrap integrity check failed for ECDH-ES+A256KW alg"
Hi @dvsekhvalnov,
The below code throws 'AesKeyWrap integrity check failed' exception while decrypt the 'idToken'. im using 'P-521' curve for enc keys.

JsonTextReader reader = new JsonTextReader(new StringReader(EncryptionKey));
            var jwk = JsonSerializer.CreateDefault().Deserialize<JWK>(reader);
            var publicECCKey = EccKey.New(Base64Url.Decode(jwk.x), Base64Url.Decode(jwk.y),

[2022-06-16 18:14] dvsekhvalnov commented on #186
Hi @Nizam-tch ,

https://github.com/dvsekhvalnov/jose-jwt#notes , see second. Is it your case?

[2022-06-17 03:48] Nizam-tch commented on #186
Hi @dvsekhvalnov
Thank you for your prompt response
Currently, https://[mkjwk.org](https://mkjwk.org/)/ is not accessible.
I'll generate the key with P-256 and try again

[2022-06-17 07:39] Marrryy opened #187 "Decode a JSON Web Token (JWT) of JWE alg RSA_OAEP"
Hi,

I use this function to decode

string token = "eyJhbGci.....";
var privateKey=new X509Certificate2("my-key.p12", "password").GetRSAPrivateKey();
string json = Jose.JWT.Decode(token,privateKey);

this function give error message Algorithm 'AesGcm' is not supported on this platform.

I realize that the header of the token JWT is  { "alg": "RSA-OAEP", "enc": "A256GCM", "kid": <domain name> }

I

[2022-06-17 11:26] dvsekhvalnov commented on #187
Hi @Marrryy ,

so what platform you are running on and what library version?

[2022-06-20 01:45] Marrryy commented on #187
Hi @dvsekhvalnov ,

For what i see on .config files, it was <package id="jose-jwt" version="3.2.0" targetFramework="net48" /> .

Actually in my target framework is .NET 6.0 and I already download the latest v4.0

Is it triggering  "Algorithm 'AesGcm' is not supported on this platform" because I using mac OS ?

Thank you

[2022-06-20 02:03] Marrryy commented on #187
Hi All,

Thank you for your reply.

yes it is only affect in mac OS. I have use other Windows OS,  it's good. Sorry for trouble.

[2022-06-20 02:03] #187 closed

[2022-06-20 07:55] dvsekhvalnov commented on #187
@Marrryy , on MacOS you end up with .netcore.

If you need AES-GCM you need version of .netcore that implements NETSTANDARD2_1, see here: https://docs.microsoft.com/en-us/dotnet/standard/net-standard?tabs=net-standard-2-1

[2022-06-22 03:12] zzyzy opened #188 "Typo in Jwk.NameToCurve"
Hello,

It appears there's a typo for the method Jwk.NameToCurve when converting from "P-384" string to ECCurve.

https://github.com/dvsekhvalnov/jose-jwt/blob/4391fa0069abac4d5e7e035845be38914206eb10/jose-jwt/jwk/Jwk.cs#L538

[2022-06-22 10:59] dvsekhvalnov commented on #188
Thanks @zzyzy !

Fix obviously looks good to me :) Can we add unit tests? i've posted comments in PR.

[2022-06-23 10:30] dvsekhvalnov opened #193 "Bump Newtonsoft.Json to 13.0.1"
Dependabot alert: https://github.com/dvsekhvalnov/jose-jwt/security/dependabot/3

[2022-07-19 03:03] priyankamauryaa opened #194 "'Windows Cryptography Next Generation (CNG) is not supported on this platform.'"
Hi, I'm getting below error while trying to decrypt jwe using- JWE.Decrypt(encryptedIdToken.id_token, jwk).Plaintext

[10:39:11 INF] ex Message: 'Windows Cryptography Next Generation (CNG) is not supported on this platform.'

[10:39:11 INF] ex InnerException: ''

login Failed: 'System.PlatformNotSupportedException: Windows Cryptography Next Generation (CNG) is not supported on this platform.

   a

[2022-07-19 14:53] dvsekhvalnov commented on #194
HI @priyankamauryaa ,

well it means what it says - no support besides Windows platform. Unfortunetly Ecdh key management do not have managed version in .net runtime, so library relies on native CNG libraries, those available only in windows.

[2022-07-19 17:47] dvsekhvalnov commented on #194
No, unfortunately no way at the moment. I'd happy to add managed solution once .net support it.

[2022-07-19 18:03] priyankamauryaa commented on #194
.net is not supporting it yet ? Can you please help me to know if .net supports to use EC key to decrypt ECDH-ES+A128KW encrypted token on linux?

[2022-07-19 18:06] dvsekhvalnov commented on #194
.netcore not supporting ECDH on Linux.

You can decode token on Windows platform.

[2022-07-20 05:59] priyankamauryaa commented on #194
Thank you for your response.

[2022-07-20 05:59] #194 closed

[2022-07-20 09:38] Dhazan1 commented on #99
I'm encrypting, then immediately I'm decrypting, but I keep getting this error

Jose.EncryptionException: 'Unable to decrypt content or authentication tag do not match.'

[2022-07-20 09:39] Dhazan1 commented on #99
This is the link to the code write-up

[2022-07-20 09:39] Dhazan1 commented on #99
https://github.com/Dhazan1/JoseLibraryImplementationInAsp.net/tree/main

[2022-07-20 11:57] Dhazan1 opened #195 "Jose.EncryptionException: 'Unable to decrypt content or authentication tag do not match"
I'm encrypting, then immediately I'm decrypting, but I keep getting this error.
This is the link to the code write-up https://github.com/Dhazan1/JoseLibraryImplementationInAsp.net/tree/main

[2022-07-20 13:50] Dhazan1 commented on #99
New ticket opened
https://github.com/dvsekhvalnov/jose-jwt/issues/195

[2022-07-20 19:27] dvsekhvalnov commented on #195
Thanks, i'll try to run soonish.

[2022-07-25 20:10] Jesterbester2 opened #196 "{"Illegal base64url string! (Parameter 'input')"}"
So I'm trying to decrypt a jwe token, with an algorithm of RSA-OAEP, and encryption of A128CBC-HS256

I'm RSA to make a JWK object.
then I trying the code below:
                rsa.FromXmlString( // PRIVATE XML STRING KEY );
                var jwk= new Jwk(rsa);
                JwtSettings settings =  new JwtSettings();
                settings.Jws(JwsAlgorithm.HS256);
                settings.J

[2022-07-25 20:37] dvsekhvalnov commented on #196
Hi @Jesterbester2 ,

it doesn't look like your token is JWE? `Jose.JWE.Decrypt()` handles RFC 7516 json encoded tokens.

Can you try with `Jose.JWT.Decode(token, jwk)` instead?

[2022-07-26 16:57] Jesterbester2 commented on #196
I have tried both of them and neither work, also from my understanding jwt & Jwe. Jwts are seperated by two periods and JWEs are seperated by 4 periods the token above has 4, and I know for a fact the it was encrypted when it was originally made using JWtauthprovider.
So any help would be great i know in the code it is failing here
 https://github.com/dvsekhvalnov/jose-jwt/blob/master/jose-jwt/uti

[2022-07-27 01:20] Jesterbester2 commented on #196
@dvsekhvalnov [dvsekhvalnov](https://github.com/dvsekhvalnov)

By the way in case I didn't make it clear I'm trying to get the payload from the token?

[2022-07-27 08:17] dvsekhvalnov commented on #196
Hi @Jesterbester2 , can you attach your key if possible, so i can run decoding myself?

Hard to guess without trying.

[2022-07-28 11:23] Dhazan1 commented on #195
Still awaiting your response

[2022-07-28 12:19] dvsekhvalnov commented on #195
Hi @Dhazan1 , thanks for reminding me.

Are you sure that you are using correct P-256 curve key? Especially if private `d` param is really matching public `x` and `y`? because it is named `kid` by some reason in your sample.

When i replaced your key to other one, it perfectly working.

[code]

[2022-08-15 12:14] #188 closed

[2022-08-19 17:12] #193 closed

[2022-08-19 17:12] dvsekhvalnov commented on #193
released to nuget.org

[2022-08-19 17:12] dvsekhvalnov commented on #188
released to nuget.org

[2022-09-02 17:20] dvsekhvalnov opened #198 "Allow to deregister specific algorithms, encryption or signing methods from JWTSetting"
In the same vein as we have `JwtSetting.RegisterJwa()` / `JwtSetting.RegisterJws()` / `JwtSetting.RegisterJwe()` introduce pairwise `Deregister` set of methods.

The reason is some algorithms are getting outdated, unsafe and would be nice to have a way to turn them off as needed.

[2022-09-02 17:24] dvsekhvalnov opened #199 "Introduce min/max p2c count configuration for PBKDF2 algorithms"
Introduce ability to configure min/max iteration counts for PBKDF2 algos

Per https://cheatsheetseries.owasp.org/cheatsheets/Password_Storage_Cheat_Sheet.html#pbkdf2 there are quite high minimum recommended number of iterations.

The change should introduce reasonable safe defaults for the library, but allow runtime customization as well.

[2022-09-29 00:47] ramkithepower opened #200 "Creating symmetric key to match the JWT generated by .Net core"
The third party API I am working with is asking me to generate the JWT on client side. I understand that they use the following code to verify JWT.
[code]

In the client side the token generation I have  created is as follows using Jose JWT.
return Jose.JWT.Encode(claims, byteArrayOfKey, Jose.JwsAlgorithm.HS256);

but the validation is failing with 401 on server side. Is there anything I can do ma

[2022-09-29 14:33] dvsekhvalnov commented on #200
Hey @ramkithepower , that's hard to guess without additional details.

May be key mismatch, maybe they don't like something in your claims (aud, iss, dates), make be clock skew between client and server.

Try to get some logs.

[2022-10-04 06:03] Taraawan commented on #111
RFC 7797 is  adopted in the UK OpenBanking standard. Is anybody already working on this using nodejs?
I use Jose library but still i am stuck can any one please guide me

[2022-10-05 18:39] dvsekhvalnov commented on #111
Hi @Taraawan, didn't get the question. This is not nodejs library but rather C#/.net one.

What are you looking for?

[2022-10-28 04:22] jxfreeman opened #201 "JWT Nesting & Bloat"
I am using jose-jwt to generate a nested (i.e. signed and then encrypted) JWT.  The implementation is used to transfer large PDF files to a partner.  As part of the specifications, a JSON request containing a Base64 encoded document (the PDF) is constructed.  The JSON is then signed.  This produces a Base64 encoded result which is then fed to encryption which yields a final Base64 encoded string.

[2022-10-28 08:41] dvsekhvalnov commented on #201
Hi @jxfreeman ,

well, my best advice will be to take a look at https://github.com/dvsekhvalnov/jose-jwt#unencoded-and-detached-content-aka-rfc-7797 both follows [RFC 7797](https://tools.ietf.org/html/rfc7797). Allows you to skip base64 encoding and omit large binary payloads.

I'm not really sure what do you mean by nesting, are there any standard describing what you want to achieve?

[2022-10-28 17:42] jxfreeman commented on #201
Thanks for the quick turnaround!  Nesting simply means signing then encrypting.  I'm not versed on any RFCs for this practice just that I've read that it is common and one of the business partners for my firm requires that the JWT be signed and encrypted.  I concur about using JWT for large payloads, but it was a partner requirement.  Apart from the large payload, we use the non-optimal nesting ap

[2022-10-31 16:10] dvsekhvalnov commented on #201
@jxfreeman well, [RFC 7797](https://tools.ietf.org/html/rfc7797) if your partner supports `base64Mode=off` is the best you can get.

Pretty sure you'll get pretty much same experience with any other library out there. There are no such thing as 'atomic-sign-then-ecrypt' in world of JWT (at least i'm not aware).  The reason is authenticated encryption covers both confidentiality and integrity guara

[2022-11-07 11:42] cupatil opened #202 "AesKeyWrap integrity check failed for A256KW for alg"
Hi @dvsekhvalnov,

I am trying to decrypt the play integrity token using this lib. The JWE uses A256KW for [alg] and A256GCM for [enc]

below are the code I am trying to execute and it throws the

[code]

Please let me know if I am doing something wrong here.

[2022-11-07 13:30] dvsekhvalnov commented on #202
Hi @cupatil

are you facing any error? :) Nothing mentioned in a ticket.

And typically you want `Jose.JWT. Decode()`, no Jose.JWE.Decrypt(),  unless you truly working with RFC 7516 (Json serialization).

[2022-11-07 13:47] cupatil commented on #202
Hi @dvsekhvalnov ,

In both ways I am getting **AesKeyWrap integrity check failed** error.

I am trying to write equivalent code in c# using this lib. Below are the java code

JsonWebEncryption jwe =
    (JsonWebEncryption)JsonWebStructure
        .fromCompactSerialization(integrityToken);
jwe.setKey(decryptionKey);

// This also decrypts the JWE token.
String compactJws = jwe.getPayload();

JsonW

[2022-11-07 14:45] dvsekhvalnov commented on #202
Looks like you only need `compact serialization`, not `json`, so this should make it:

[code]
**AesKeyWrap integrity check failed** - usually means you messed up keys. If you have example token and key, feel free to share, i can try to run myself. (Please don't share **real keys**).

[2022-11-08 05:48] cupatil commented on #202
Hi @dvsekhvalnov,
Thanks for the quick help, 1 line of code works for me. and In second decrypted text (JWS uses ES256.) It gives me error "EcdsaUsingSha algorithm expects key to be of CngKey, ECDsa or Jwk types with kty='EC'."

Now I am trying to convert base64 encoded verification key to EC (ES256) public key using JWK can you please suggest how this is possible trough this lib

In java below co

[2022-11-08 07:39] dvsekhvalnov commented on #202
@cupatil, what's inside your base64 encoded key? Is it just PEM key? or JWK?

[2022-11-08 07:48] cupatil commented on #202
@dvsekhvalnov Here is the sample key:
MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEodk/bD9XpZrBjiBp4ceb8OkW5L0dL1Ez/E+HcWhwPGCx54TXsaw6dSqimJPkAfPrFNgdrauKN69QuwsnZtn8ow==

[2022-11-08 07:57] dvsekhvalnov commented on #202
Can you post full base64 string? can't decode and check what's inside.

`EccKey.New(pubKeyX, pubKeyY)` - you can use it to construct Elliptic CngKey if you are sure pubX and pubY are correct key material.

[2022-11-08 07:58] cupatil commented on #202
Updated the key please have look

[2022-11-08 11:50] dvsekhvalnov commented on #202
Is your verification key after Base64 decode starts with `-----BEGIN EC PRIVATE KEY-----` ?

[2022-11-19 07:41] bighamx opened #204 "how can i get a es384 JWT TOKEN with only a pem file ?"
var payload = new Dictionary<string, object>()
      {
            //xxx
      };

var privateKey = ???;
// only got a pem file like
//-----BEGIN PRIVATE KEY-----
//xxxxxxxxxxxxxxx
//-----END PRIVATE KEY-----

//how can i get a key for below jwt token generate

string token = Jose.JWT.Encode(payload, privateKey, JwsAlgorithm.ES384, new Dictionary<string, object>()
            {
                { "

[2022-11-19 16:04] dvsekhvalnov commented on #204
Hi @bighamx ,

https://www.scottbrady91.com/c-sharp/pem-loading-in-dotnet-core-and-dotnet ?

If you can't use any of those due to different .net version, you have to convert it to .p12, you really don't need cert to do that (or you can create any cert  out of your key, cert is just bag of attributes, choose any you like, it doesn't matter for your usecase)

openssl pkcs12 -export -nocerts -inkey y

[2022-11-21 09:30] shaiArn opened #205 "How to use a JWK as a public key and encrypt a JWE using it"
Hi @dvsekhvalnov, thank you for this helpful library.

I'm getting JWK, and I need to use it to encrypt a JWE.
After creating the JWK with `Jwk.FromJson()`, I want to use it as a public key for encrypting a JWE.
If I understand correctly the encryption key in the `JWE.Encrypt()` method is the following argument: `IEnumerable<JweRecipient> recipients`

Is there a way to convert JWK to the needed ty

[2022-11-21 18:25] dvsekhvalnov commented on #205
Hi @shaiArn ,

`recipients` is list of recipients for RFC 7516 JSON encoding. You specify a key per recipient, you can find examples within https://github.com/dvsekhvalnov/jose-jwt#encrypting-using-json-serialization (see second code snippet).

You don't need to convert `Jwk` to anything else, just pass it as key argument.

[2022-11-28 15:03] #205 closed

[2022-11-29 07:47] shaiArn opened #207 "AES256GCM JWE encryption in .NET standard 2.0 using Bouncy Castle"

[2022-11-30 08:48] shaiArn commented on #207
Hi @dvsekhvalnov, thank you for your answer.

Here is the full error:
`
DllNotFoundException: bcrypt.dll assembly:<unknown assembly> type:<unknown type> member:(null)
Jose.AesGcm.OpenAlgorithmProvider (System.String alg, System.String provider, System.String chainingMode) (at <e53f5c14391a4dae86321317d2821418>:0)
Jose.AesGcm.Encrypt (System.Byte[] key, System.Byte[] iv, System.Byte[] aad, System.B

[2022-11-30 11:13] dvsekhvalnov commented on #207
Yeah, it looks it doesn't use .Netstandard 2.1 according to stack trace.

I'm not an expert on Unity itself, but quick googling got me https://forum.unity.com/threads/unity-future-net-development-status.1092205/

Probably you can check if Unity support .Netstandard 2.1 runtime or any plans.